workflows/01-orchestrator.json
{
  "name": "01-orchestrator",
  "id": "orchestrator-001",
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "id": "n1",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        200,
        300
      ],
      "webhookId": "mycheagent-main-bot",
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "fbg2O80BR8u1tCRB",
          "name": "Telegram account"
        }
      }
    },
    {
      "id": "n2",
      "name": "Router",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ],
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst cbq = input.callback_query;\nif (cbq) {\n  return [{ json: {\n    type: 'callback',\n    chatId: cbq.message.chat.id,\n    callbackId: cbq.id,\n    data: cbq.data || '',\n    isVoice: false, text: '', fileId: null,\n    fileName: null, fileMime: null, fileSize: 0\n  }}];\n}\nconst msg = input.message;\nif (!msg) return [];\nconst chatId = msg.chat.id;\nconst text = msg.text || msg.caption || '';\nconst isVoice = !!msg.voice;\n\n// Document or photo detection\nconst isDoc = !!msg.document;\nconst isPhoto = !!(msg.photo && msg.photo.length);\nif (isDoc) {\n  return [{ json: {\n    type: 'file', chatId, isVoice: false, text,\n    fileId: msg.document.file_id,\n    fileName: msg.document.file_name || 'document',\n    fileMime: msg.document.mime_type || '',\n    fileSize: msg.document.file_size || 0,\n    fileType: 'document',\n    callbackId: null, data: null\n  }}];\n}\nif (isPhoto) {\n  const best = msg.photo[msg.photo.length - 1];\n  return [{ json: {\n    type: 'file', chatId, isVoice: false, text,\n    fileId: best.file_id,\n    fileName: 'photo_' + Date.now() + '.jpg',\n    fileMime: 'image/jpeg',\n    fileSize: best.file_size || 0,\n    fileType: 'photo',\n    callbackId: null, data: null\n  }}];\n}\n\nif (!isVoice && !text) return [];\nconst isStart = text === '/start' || text === '/menu';\nconst isAdmin = /^\\/курсы|^\\/добавить |^\\/удалить |^\\/промпт|^\\/myid/i.test(text);\nif (isAdmin) return [{ json: { type: 'admin', chatId, text, isVoice: false, fileId: null, fileName: null, fileMime: null, fileSize: 0, callbackId: null, data: null } }];\nreturn [{ json: {\n  type: isStart ? 'start' : (isVoice ? 'voice' : 'text'),\n  chatId, isVoice, text,\n  fileId: isVoice ? msg.voice.file_id : null,\n  fileName: null, fileMime: null, fileSize: 0,\n  callbackId: null, data: null\n}}];"
      }
    },
    {
      "id": "n15",
      "name": "Is Cmd or CB?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        640,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c10",
              "leftValue": "={{ $json.type }}",
              "rightValue": "start",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "c11",
              "leftValue": "={{ $json.type }}",
              "rightValue": "callback",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      }
    },
    {
      "id": "n16",
      "name": "Is Start?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        860,
        160
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c12",
              "leftValue": "={{ $json.type }}",
              "rightValue": "start",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "n17",
      "name": "Send Menu",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        60
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ chat_id: $json.chatId, text: '🔱 *Зевс* готов, Мой господин. Спроси что угодно или открой Меню.', parse_mode: 'Markdown' }) }}",
        "options": {}
      }
    },
    {
      "id": "n18",
      "name": "Set Section",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        260
      ],
      "parameters": {
        "jsCode": "const { chatId, callbackId, data } = $input.first().json;\nconst [prefix, value] = (data || 'section:chat').split(':');\nconst section = value || 'chat';\nconst store = $getWorkflowStaticData('global');\nif (!store.sessions) store.sessions = {};\nstore.sessions[String(chatId)] = { section, isAgent: prefix === 'agent' };\nconst names = {\n  tasks:'📋 Задачи', notes:'📝 Заметки',\n  sport:'🏋️ Спорт', work:'💼 Работа',\n  ideas:'💡 Идеи', app:'🌐 Приложение',\n  producer:'🎬 Продюсер', writer:'✍️ Сценарист',\n  editor:'🎥 Монтажёр', sales:'💰 Продажник'\n};\nreturn [{ json: { chatId, callbackId, section, sectionName: names[section] || section } }];"
      }
    },
    {
      "id": "n19",
      "name": "Answer CB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        260
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/answerCallbackQuery' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ callback_query_id: $('Set Section').item.json.callbackId }) }}",
        "options": {}
      }
    },
    {
      "id": "n20",
      "name": "Send Section Msg",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        260
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ chat_id: $('Set Section').item.json.chatId, text: '*' + $('Set Section').item.json.sectionName + '*\nГотов, Мой господин. Что делаем?', parse_mode: 'Markdown' }) }}",
        "options": {}
      }
    },
    {
      "id": "n3",
      "name": "Is Voice?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        860,
        440
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.isVoice }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "n4",
      "name": "Get TG File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        320
      ],
      "parameters": {
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/getFile?file_id=' + $json.fileId }}",
        "options": {}
      }
    },
    {
      "id": "n5",
      "name": "Download Voice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        320
      ],
      "parameters": {
        "url": "={{ 'https://api.telegram.org/file/bot' + $env.TELEGRAM_BOT_TOKEN + '/' + $json.result.file_path }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          }
        }
      }
    },
    {
      "id": "n6",
      "name": "Whisper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        320
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/transcriptions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.OPENAI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "whisper-1",
              "parameterType": "formData"
            },
            {
              "name": "language",
              "value": "ru",
              "parameterType": "formData"
            },
            {
              "name": "file",
              "value": "data",
              "parameterType": "formBinaryData",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "n7",
      "name": "Prep Voice",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1740,
        320
      ],
      "parameters": {
        "jsCode": "const chatId = $('Router').item.json.chatId;\nconst text = $input.first().json.text;\nconst store = $getWorkflowStaticData('global');\nconst section = store.sessions?.[String(chatId)]?.section || 'chat';\nconst prompts = {\n  chat:'Ты умный персональный ассистент по имени Зевс. Пользователя зовут Денис, обращайся к нему «Мой господин». Отвечай кратко, по-русски, дружелюбно. Без лишних вводных слов.',\n  tasks:'Ты ассистент Зевс по задачам. Пользователя зовут Денис, «Мой господин». Помогай с задачами и приоритетами. Кратко, по-русски.',\n  notes:'Ты ассистент Зевс по заметкам. Пользователя зовут Денис, «Мой господин». Структурируй идеи и мысли. Кратко, по-русски.',\n  sport:'Ты фитнес-ассистент Зевс. Пользователя зовут Денис, «Мой господин». Тренировки, калории, питание. Кратко, по-русски.',\n  work:'Ты бизнес-ассистент Зевс. Пользователя зовут Денис, «Мой господин». Рабочие задачи и проекты. Кратко, по-русски.',\n  ideas:'Ты творческий ассистент Зевс. Пользователя зовут Денис, «Мой господин». Принимай идеи, структурируй. Кратко, по-русски.',\n  producer:'Ты ИИ-агент «Продюсер». Помогаешь Денису (обращайся «Мой господин») с продюсированием контента: стратегия, монетизация, аудитория, планирование. Конкретные советы, по-русски.',\n  writer:'Ты ИИ-агент «Сценарист». Помогаешь Денису (обращайся «Мой господин») писать сценарии, скрипты, тексты для видео. По-русски.',\n  editor:'Ты ИИ-агент «Монтажёр». Помогаешь Денису (обращайся «Мой господин») с монтажом: тайминг, переходы, структура ролика. По-русски.',\n  sales:'Ты ИИ-агент «Продажник». Помогаешь Денису (обращайся «Мой господин») с продажами: скрипты, офферы, возражения, воронки. По-русски.'\n};\nreturn [{ json: { chatId, userText: text, isVoice: true, systemPrompt: prompts[section] || prompts.chat } }];"
      }
    },
    {
      "id": "n8",
      "name": "Prep Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        540
      ],
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst store = $getWorkflowStaticData('global');\nconst session = store.sessions?.[String(d.chatId)] || {};\nconst section = session.section || 'chat';\nconst prompts = {\n  chat:'Ты умный персональный ассистент по имени Зевс. Пользователя зовут Денис, обращайся к нему «Мой господин». Отвечай кратко, по-русски, дружелюбно. Без лишних вводных слов.\\n\\nФАЙЛЫ: Если пользователь просит найти, скинуть, отправить файл или документ — вставь в ответ тег [FILE_SEARCH: запрос]. Например: «скинь КП» → [FILE_SEARCH: КП].\\nПОЧТА: Если пользователь спрашивает про письмо, почту, email — вставь тег [EMAIL_CONTEXT: запрос]. Например: «что за письмо пришло?» → [EMAIL_CONTEXT: последнее]. «письмо от банка» → [EMAIL_CONTEXT: банк].',\n  tasks:'Ты ассистент Зевс по задачам. Пользователя зовут Денис, «Мой господин». Помогай с задачами и приоритетами. Кратко, по-русски.',\n  notes:'Ты ассистент Зевс по заметкам. Пользователя зовут Денис, «Мой господин». Структурируй идеи и мысли. Кратко, по-русски.',\n  sport:'Ты фитнес-ассистент Зевс. Пользователя зовут Денис, «Мой господин». Тренировки, калории, питание. Кратко, по-русски.',\n  work:'Ты бизнес-ассистент Зевс. Пользователя зовут Денис, «Мой господин». Рабочие задачи и проекты. Кратко, по-русски.\\n\\nФАЙЛЫ: Если пользователь просит найти, скинуть файл — вставь тег [FILE_SEARCH: запрос] в конце ответа.',\n  ideas:'Ты творческий ассистент Зевс. Пользователя зовут Денис, «Мой господин». Принимай идеи, структурируй. Кратко, по-русски.',\n  producer:'Ты ИИ-агент «Продюсер». Помогаешь Денису (обращайся «Мой господин») с продюсированием контента: стратегия, монетизация, аудитория, планирование. Конкретные советы, по-русски.',\n  writer:'Ты ИИ-агент «Сценарист». Помогаешь Денису (обращайся «Мой господин») писать сценарии, скрипты, тексты для видео. Структура: крючок — суть — CTA. По-русски.',\n  editor:'Ты ИИ-агент «Монтажёр». Помогаешь Денису (обращайся «Мой господин») с монтажом и постпродакшном: тайминг, переходы, цвет, структура ролика. По-русски.',\n  sales:'Ты ИИ-агент «Продажник». Помогаешь Денису (обращайся «Мой господин») с продажами: скрипты, офферы, работа с возражениями, воронки. По-русски.'\n};\nreturn [{ json: { chatId: d.chatId, userText: d.text, isVoice: false, systemPrompt: prompts[section] || prompts.chat } }];"
      }
    },
    {
      "id": "n9",
      "name": "GPT",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        430
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ANTHROPIC_BASE_URL + '/v1/chat/completions' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: 'claude-haiku-4.5', messages: [{ role: 'user', content: $json.systemPrompt + '\\n\\n' + $json.userText }], max_tokens: 500 }) }}",
        "options": {}
      }
    },
    {
      "id": "n10",
      "name": "Build Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2180,
        430
      ],
      "parameters": {
        "jsCode": "const res = $input.first().json;\nconst text = res.choices?.[0]?.message?.content || 'Не удалось получить ответ';\nconst chatId = $('Router').item.json.chatId;\nconst isVoice = $('Router').item.json.isVoice;\nreturn [{ json: { chatId, text, isVoice } }];"
      }
    },
    {
      "id": "n11",
      "name": "Reply Voice?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2400,
        430
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c2",
              "leftValue": "={{ $json.isVoice }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "n12",
      "name": "TTS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2620,
        320
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/speech",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.OPENAI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: 'tts-1', input: $json.text, voice: 'nova', response_format: 'mp3' }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          }
        }
      }
    },
    {
      "id": "n13",
      "name": "Send Voice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2840,
        320
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendVoice' }}",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $('Build Reply').item.json.chatId }}",
              "parameterType": "formData"
            },
            {
              "name": "voice",
              "value": "data",
              "parameterType": "formBinaryData",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "n14",
      "name": "Send Text",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2620,
        540
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ chat_id: $json.chatId, text: $json.text }) }}",
        "options": {}
      }
    },
    {
      "id": "n21",
      "name": "Is Admin?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        640,
        600
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c20",
              "leftValue": "={{ $json.type }}",
              "rightValue": "admin",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "n22",
      "name": "Handle Admin",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        600
      ],
      "parameters": {
        "jsCode": "const { chatId, text } = $input.first().json;\nconst store = $getWorkflowStaticData('global');\nif (!store.siteConfig) store.siteConfig = {};\nif (!store.siteConfig.courses) store.siteConfig.courses = [];\n\nlet reply = '';\n\n// /курсы — show courses list\nif (/^\\/курсы/i.test(text)) {\n  if (!store.siteConfig.courses.length) { reply = '📋 Курсов пока нет.'; }\n  else { reply = '📋 *Курсы Студии ЧЕ:*\\n\\n' + store.siteConfig.courses.map((c,i) => `${i+1}. \"${c.name}\" — ${c.price}${c.level?' ('+c.level+')':''}`).join('\\n'); }\n}\n// /добавить Название — 9990 ₽ (уровень)\nelse if (/^\\/добавить /i.test(text)) {\n  const raw = text.replace(/^\\/добавить /i, '').trim();\n  const m = raw.match(/^(.+?)\\s*—\\s*([\\d\\s]+[₽руб.]+.*)$/i);\n  if (!m) { reply = '⚠️ Формат: /добавить Название курса — 9 990 ₽'; }\n  else {\n    const name = m[1].trim();\n    const price = m[2].trim();\n    store.siteConfig.courses.push({ name, price });\n    reply = `✅ Добавлен курс:\\n\"${name}\" — ${price}`;\n  }\n}\n// /удалить Название\nelse if (/^\\/удалить /i.test(text)) {\n  const name = text.replace(/^\\/удалить /i, '').trim().toLowerCase();\n  const before = store.siteConfig.courses.length;\n  store.siteConfig.courses = store.siteConfig.courses.filter(c => !c.name.toLowerCase().includes(name));\n  const removed = before - store.siteConfig.courses.length;\n  reply = removed ? `🗑 Удалено курсов: ${removed}` : '⚠️ Курс не найден. Проверь название.';\n}\n// /промпт — show base prompt\nelse if (/^\\/промпт/i.test(text)) {\n  const p = store.siteConfig.basePrompt || '(не задан)';\n  reply = '📝 *Системный промпт бота:*\\n\\n' + p.slice(0, 3000);\n}\n// /myid — get telegram chat id\nelse if (/^\\/myid/i.test(text)) {\n  reply = '🆔 Твой chat id: ' + chatId;\n}\n\nreturn [{ json: { chatId, reply } }];"
      }
    },
    {
      "id": "n23",
      "name": "Send Admin Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        600
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ chat_id: $json.chatId, text: $json.reply, parse_mode: 'Markdown' }) }}",
        "options": {}
      }
    },
    {
      "id": "n24",
      "name": "Is Channel CB?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1080,
        360
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c30",
              "leftValue": "={{ $json.data }}",
              "rightValue": "channel:",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "n25a",
      "name": "Get Pending Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://mycheagent.ru/webhook/pwa-data",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ action: 'getPending', id: $json.data.replace('channel:', '') }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "n25b",
      "name": "Post to Channel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ chat_id: '-1002046512562', text: $json.text }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "n25c",
      "name": "Answer Published",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1740,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/answerCallbackQuery' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ callback_query_id: $('Is Channel CB?').item.json.callbackId, text: '✅ Опубликовано в канал!' }) }}",
        "options": {}
      }
    },
    {
      "id": "n27",
      "name": "Is File?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        860,
        500
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cf1",
              "leftValue": "={{ $json.type }}",
              "rightValue": "file",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "n30",
      "name": "Get File URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        700
      ],
      "parameters": {
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/getFile?file_id=' + $json.fileId }}",
        "options": {}
      }
    },
    {
      "id": "n31",
      "name": "Download File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        700
      ],
      "parameters": {
        "url": "={{ 'https://api.telegram.org/file/bot' + $env.TELEGRAM_BOT_TOKEN + '/' + $json.result.file_path }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "fileData"
            }
          }
        }
      }
    },
    {
      "id": "n32",
      "name": "Save to Server",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        700
      ],
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\nconst ctx = $('Is File?').first().json;\nconst chatId = String(ctx.chatId);\nconst ts = Date.now();\nconst safeName = (ctx.fileName || 'file').replace(/[^a-zA-Z0-9а-яА-ЯёЁ._-]/g, '_');\nconst dir = '/files/' + chatId;\n\n// Create directory if not exists\nif (!fs.existsSync(dir)) fs.mkdirSync(dir, { recursive: true });\n\nconst filePath = dir + '/' + ts + '_' + safeName;\n\n// Get binary data and write\nconst binaryData = $input.first().binary.fileData;\nconst buffer = Buffer.from(binaryData.data, 'base64');\nfs.writeFileSync(filePath, buffer);\n\nreturn [{ json: {\n  chatId: ctx.chatId,\n  fileId: 'f_' + ts,\n  fileName: ctx.fileName,\n  fileType: ctx.fileType || 'document',\n  fileMime: ctx.fileMime || '',\n  fileSize: ctx.fileSize || buffer.length,\n  filePath: filePath,\n  caption: ctx.text || '',\n  ts: new Date().toISOString()\n}}];"
      }
    },
    {
      "id": "n33",
      "name": "GPT Describe",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1740,
        700
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.OPENAI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: 'gpt-4o-mini', messages: [{ role: 'system', content: 'Опиши файл одним предложением на русском (что это, для чего). Также выдели 3-5 ключевых тегов через запятую. Формат ответа строго:\\nОПИСАНИЕ: ...\\nТЕГИ: тег1, тег2, тег3' }, { role: 'user', content: 'Файл: ' + $json.fileName + '\\nТип: ' + $json.fileMime + '\\nРазмер: ' + Math.round(($json.fileSize||0)/1024) + ' КБ' + ($json.caption ? '\\nПодпись: ' + $json.caption : '') }], max_tokens: 150 }) }}",
        "options": {}
      }
    },
    {
      "id": "n34",
      "name": "Save File Index",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        700
      ],
      "parameters": {
        "method": "POST",
        "url": "https://mycheagent.ru/webhook/pwa-data",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ (function() { const saved = $('Save to Server').first().json; const gptRaw = $json.choices?.[0]?.message?.content || ''; const descMatch = gptRaw.match(/ОПИСАНИЕ:\\s*(.+)/i); const tagsMatch = gptRaw.match(/ТЕГИ:\\s*(.+)/i); const description = descMatch ? descMatch[1].trim() : saved.fileName; const tags = tagsMatch ? tagsMatch[1].split(',').map(t=>t.trim()) : []; return JSON.stringify({ action: 'addFile', id: saved.fileId, chatId: saved.chatId, name: saved.fileName, type: saved.fileType, mime: saved.fileMime, size: saved.fileSize, path: saved.filePath, description: description, tags: tags }); })() }}",
        "options": {}
      }
    },
    {
      "id": "n35",
      "name": "Confirm File Saved",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2180,
        700
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ (function() { const saved = $('Save to Server').first().json; const gptRaw = $('GPT Describe').first().json.choices?.[0]?.message?.content || ''; const descMatch = gptRaw.match(/ОПИСАНИЕ:\\s*(.+)/i); const desc = descMatch ? descMatch[1].trim() : 'файл сохранён'; return JSON.stringify({ chat_id: saved.chatId, text: '✅ Сохранил: ' + saved.fileName + '\\n📝 ' + desc + '\\n\\nСпроси «скинь ' + saved.fileName.split('.')[0] + '» чтобы получить обратно.' }); })() }}",
        "options": {}
      }
    },
    {
      "id": "n40",
      "name": "Is YD Upload?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1520, 800],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cyd1",
              "leftValue": "={{ ($json.caption || '').toLowerCase() }}",
              "rightValue": "диск:|yd:|яд:",
              "operator": { "type": "string", "operation": "regex" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "n41",
      "name": "Get YD Upload URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1740, 800],
      "parameters": {
        "method": "GET",
        "url": "={{ (function() { const cap = $('Save to Server').first().json.caption || ''; const m = cap.match(/(?:диск:|yd:|яд:)\\s*(.+)/i); const folder = m ? m[1].trim().replace(/\\/$/, '') : ''; const name = $('Save to Server').first().json.fileName; return 'https://cloud-api.yandex.net/v1/disk/resources/upload?path=' + encodeURIComponent(folder + '/' + name) + '&overwrite=true'; })() }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'OAuth ' + $env.YANDEX_DISK_TOKEN }}" }
          ]
        },
        "options": { "response": { "response": { "neverError": true } } }
      }
    },
    {
      "id": "n42",
      "name": "Upload to YD",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1960, 800],
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst uploadUrl = $json.href;\nif (!uploadUrl) {\n  return [{ json: { ok: false, error: $json.error || 'No upload URL' } }];\n}\nconst filePath = $('Save to Server').first().json.filePath;\nconst buffer = fs.readFileSync(filePath);\n\nconst resp = await $helpers.request({\n  method: 'PUT',\n  url: uploadUrl,\n  body: buffer,\n  headers: { 'Content-Type': 'application/octet-stream' },\n  encoding: null\n});\n\nreturn [{ json: { ok: true, filePath: $('Save to Server').first().json.filePath, fileName: $('Save to Server').first().json.fileName } }];"
      }
    },
    {
      "id": "n43",
      "name": "Confirm YD Upload",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2180, 800],
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ (function() { const cap = $('Save to Server').first().json.caption || ''; const m = cap.match(/(?:диск:|yd:|яд:)\\s*(.+)/i); const folder = m ? m[1].trim() : '/'; return JSON.stringify({ chat_id: $('Save to Server').first().json.chatId, text: '✅ Загружено на Яндекс.Диск:\\n📂 ' + folder + $('Save to Server').first().json.fileName }); })() }}",
        "options": {}
      }
    },
    {
      "id": "n44",
      "name": "Has Email Query?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2400, 630],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cem1",
              "leftValue": "={{ $json.text }}",
              "rightValue": "[EMAIL_CONTEXT:",
              "operator": { "type": "string", "operation": "contains" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "n45",
      "name": "Get Email Context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2620, 730],
      "parameters": {
        "method": "POST",
        "url": "https://mycheagent.ru/webhook/pwa-data",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ (function() { const text = $('Build Reply').first().json.text; const m = text.match(/\\[EMAIL_CONTEXT:\\s*(.+?)\\]/); const query = m ? m[1].trim() : ''; return JSON.stringify({ action: 'searchEmails', query: query }); })() }}",
        "options": {}
      }
    },
    {
      "id": "n46",
      "name": "GPT Email Answer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2840, 730],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ANTHROPIC_BASE_URL + '/v1/chat/completions' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.ANTHROPIC_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ (function() { const emails = $json.emails || []; const userQ = $('Router').first().json.text; const context = emails.map(e => 'От: ' + e.from + '\\nТема: ' + e.subject + '\\nТекст: ' + (e.body || '').slice(0, 1000) + '\\n---').join('\\n'); return JSON.stringify({ model: 'claude-haiku-4.5', messages: [{ role: 'user', content: 'Ты ассистент Зевс. Пользователь спрашивает про почту. Вот контекст последних писем:\\n\\n' + context + '\\n\\nВопрос: ' + userQ + '\\n\\nОтветь кратко, по-русски, обращайся «Мой господин».' }], max_tokens: 500 }); })() }}",
        "options": {}
      }
    },
    {
      "id": "n47",
      "name": "Send Email Answer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3060, 730],
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ chat_id: $('Router').first().json.chatId, text: $json.choices?.[0]?.message?.content || 'Не нашёл информации по этому письму' }) }}",
        "options": {}
      }
    },
    {
      "id": "n36",
      "name": "Has File Request?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2400,
        530
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cf2",
              "leftValue": "={{ $json.text }}",
              "rightValue": "[FILE_SEARCH:",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "n37",
      "name": "Search Files",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2620,
        630
      ],
      "parameters": {
        "method": "POST",
        "url": "https://mycheagent.ru/webhook/pwa-data",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ (function() { const text = $json.text; const m = text.match(/\\[FILE_SEARCH:\\s*(.+?)\\]/); const query = m ? m[1].trim() : ''; return JSON.stringify({ action: 'searchFiles', query: query, chatId: $json.chatId }); })() }}",
        "options": {}
      }
    },
    {
      "id": "n38",
      "name": "Send Found File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2840,
        630
      ],
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst files = $json.files || [];\nconst chatId = $('Build Reply').first().json.chatId;\nconst botToken = $env.TELEGRAM_BOT_TOKEN;\n\nif (!files.length) {\n  // No files found — send text message\n  const resp = await $helpers.request({\n    method: 'POST',\n    url: 'https://api.telegram.org/bot' + botToken + '/sendMessage',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({ chat_id: chatId, text: '🔍 Файл не найден. Попробуй другой запрос.' })\n  });\n  return [{ json: { ok: true, sent: 'not_found' } }];\n}\n\nconst f = files[0];\n// Read file from disk and send as document\ntry {\n  const buffer = fs.readFileSync(f.path);\n  const base64 = buffer.toString('base64');\n  \n  // Use n8n binary helper to send\n  const FormData = require('form-data');\n  const form = new FormData();\n  form.append('chat_id', String(chatId));\n  form.append('caption', '📎 ' + f.name + (f.description ? '\\n' + f.description : ''));\n  form.append('document', buffer, { filename: f.name, contentType: f.mime || 'application/octet-stream' });\n  \n  const resp = await $helpers.request({\n    method: 'POST',\n    url: 'https://api.telegram.org/bot' + botToken + '/sendDocument',\n    headers: form.getHeaders(),\n    body: form\n  });\n  return [{ json: { ok: true, sent: f.name } }];\n} catch(e) {\n  const resp = await $helpers.request({\n    method: 'POST',\n    url: 'https://api.telegram.org/bot' + botToken + '/sendMessage',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({ chat_id: chatId, text: '⚠️ Файл найден (' + f.name + '), но не могу отправить: ' + e.message })\n  });\n  return [{ json: { ok: false, error: e.message } }];\n}"
      }
    },
    {
      "id": "n26a",
      "name": "Answer Skipped",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        440
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/answerCallbackQuery' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ callback_query_id: $json.callbackId, text: '⏭ Пропущено' }) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router": {
      "main": [
        [
          {
            "node": "Is Admin?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Admin?": {
      "main": [
        [
          {
            "node": "Handle Admin",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Cmd or CB?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Admin": {
      "main": [
        [
          {
            "node": "Send Admin Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Cmd or CB?": {
      "main": [
        [
          {
            "node": "Is Start?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is File?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is File?": {
      "main": [
        [
          {
            "node": "Get File URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Voice?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File URL": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Save to Server",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Server": {
      "main": [
        [
          {
            "node": "Is YD Upload?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is YD Upload?": {
      "main": [
        [
          {
            "node": "Get YD Upload URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GPT Describe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get YD Upload URL": {
      "main": [
        [
          {
            "node": "Upload to YD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to YD": {
      "main": [
        [
          {
            "node": "Confirm YD Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT Describe": {
      "main": [
        [
          {
            "node": "Save File Index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save File Index": {
      "main": [
        [
          {
            "node": "Confirm File Saved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Files": {
      "main": [
        [
          {
            "node": "Send Found File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Start?": {
      "main": [
        [
          {
            "node": "Send Menu",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Channel CB?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Section": {
      "main": [
        [
          {
            "node": "Answer CB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer CB": {
      "main": [
        [
          {
            "node": "Send Section Msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Voice?": {
      "main": [
        [
          {
            "node": "Get TG File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prep Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get TG File": {
      "main": [
        [
          {
            "node": "Download Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Voice": {
      "main": [
        [
          {
            "node": "Whisper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whisper": {
      "main": [
        [
          {
            "node": "Prep Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Voice": {
      "main": [
        [
          {
            "node": "GPT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Text": {
      "main": [
        [
          {
            "node": "GPT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT": {
      "main": [
        [
          {
            "node": "Build Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Reply": {
      "main": [
        [
          {
            "node": "Has Email Query?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Email Query?": {
      "main": [
        [
          {
            "node": "Get Email Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Has File Request?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Email Context": {
      "main": [
        [
          {
            "node": "GPT Email Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT Email Answer": {
      "main": [
        [
          {
            "node": "Send Email Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has File Request?": {
      "main": [
        [
          {
            "node": "Search Files",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply Voice?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply Voice?": {
      "main": [
        [
          {
            "node": "TTS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TTS": {
      "main": [
        [
          {
            "node": "Send Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Channel CB?": {
      "main": [
        [
          {
            "node": "Get Pending Post",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Answer Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pending Post": {
      "main": [
        [
          {
            "node": "Post to Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Channel": {
      "main": [
        [
          {
            "node": "Answer Published",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer Skipped": {
      "main": [
        [
          {
            "node": "Set Section",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "versionId": "a0000001-0000-0000-0000-000000000001"
}