workflows/04-pwa-api.json
{
  "name": "04-pwa-api",
  "id": "pwa-api-001",
  "active": true,
  "settings": { "executionOrder": "v1" },
  "nodes": [
    {
      "id": "p1",
      "name": "PWA Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "pwa-chat-hook",
      "parameters": {
        "httpMethod": "POST",
        "path": "pwa-chat",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "p2",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 300],
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\nconst section = body.section || 'chat';\nconst message = body.message || '';\nconst sessionId = body.sessionId || 'anon';\nconst history = Array.isArray(body.history) ? body.history : [];\n\nconst prompts = {\n  chat: 'Ты умный личный ассистент по имени Зевс. Отвечай кратко, по-русски, дружелюбно. Без лишних вводных слов. Помни контекст разговора.',\n  tasks: 'Ты помощник по задачам и продуктивности. Помогай организовывать, приоритизировать, разбивать большие задачи. Отвечай кратко по-русски.',\n  notes: 'Ты помощник по заметкам и идеям. Помогай структурировать мысли, находить связи, давать инсайты. Отвечай кратко по-русски.',\n  sport: 'Ты фитнес-ассистент. Помогай с тренировками, калориями, режимом питания. Давай конкретные советы по-русски.',\n  more: 'Ты умный личный ассистент Зевс. Отвечай кратко по-русски.'\n};\n\nreturn [{ json: { section, message, sessionId, systemPrompt: prompts[section] || prompts.chat, history } }];"
      }
    },
    {
      "id": "p3",
      "name": "Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ANTHROPIC_BASE_URL + '/v1/chat/completions' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.ANTHROPIC_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: 'claude-sonnet-4.6', messages: [{ role: 'system', content: $json.systemPrompt }, ...$json.history, { role: 'user', content: $json.message }], max_tokens: 500 }) }}",
        "options": {
          "response": { "response": { "neverError": true } }
        }
      }
    },
    {
      "id": "p4",
      "name": "Extract Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 300],
      "parameters": {
        "jsCode": "const res = $input.first().json;\nif (!res.choices || res.error) {\n  const errMsg = res.error?.message || 'Claude unavailable';\n  return [{ json: { reply: 'Ошибка: ' + errMsg, ok: false } }];\n}\nconst reply = res.choices[0].message.content.trim();\nreturn [{ json: { reply, ok: true } }];"
      }
    },
    {
      "id": "p5",
      "name": "TTS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1060, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/speech",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.OPENAI_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: 'tts-1', input: $json.reply, voice: 'onyx', response_format: 'mp3' }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "p6",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1280, 300],
      "parameters": {
        "jsCode": "const extracted = $('Extract Reply').item;\nconst reply = extracted.json.reply;\nconst ok = extracted.json.ok;\n\nconst ttsItem = $input.first();\nconst audio_b64 = ttsItem.binary?.data?.data || '';\n\nreturn [{ json: { reply, ok, audio_b64 } }];"
      }
    },
    {
      "id": "p7",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1480, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "application/json" },
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      }
    }
  ],
  "connections": {
    "PWA Webhook":    { "main": [[{ "node": "Build Prompt",   "type": "main", "index": 0 }]] },
    "Build Prompt":   { "main": [[{ "node": "Claude",         "type": "main", "index": 0 }]] },
    "Claude":         { "main": [[{ "node": "Extract Reply",  "type": "main", "index": 0 }]] },
    "Extract Reply":  { "main": [[{ "node": "TTS",            "type": "main", "index": 0 }]] },
    "TTS":            { "main": [[{ "node": "Build Response", "type": "main", "index": 0 }]] },
    "Build Response": { "main": [[{ "node": "Respond",        "type": "main", "index": 0 }]] }
  }
}
