workflows/05-user-data.json
{
  "name": "05-user-data",
  "id": "user-data-001",
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "id": "d1",
      "name": "Data Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        300
      ],
      "webhookId": "pwa-data-hook",
      "parameters": {
        "httpMethod": "POST",
        "path": "pwa-data",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "d2",
      "name": "Handle Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        300
      ],
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst body = (raw.body && raw.body.action) ? raw.body : raw;\nconst { action, sessionId } = body;\n\nconst store = $getWorkflowStaticData('global');\n\n// ── Site config actions (no sessionId needed) ──\nif (action === 'getSiteConfig') {\n  const cfg = store.siteConfig || {};\n  return [{ json: {\n    basePrompt: cfg.basePrompt || '',\n    courses: cfg.courses || []\n  }}];\n}\n\nif (action === 'addReport') {\n  if (!store.reports) store.reports = [];\n  store.reports.unshift({ id: Date.now(), text: body.text || '', ts: new Date().toISOString(), read: false });\n  if (store.reports.length > 50) store.reports = store.reports.slice(0, 50);\n  return [{ json: { ok: true } }];\n}\n\nif (action === 'setSiteConfig') {\n  if (!store.siteConfig) store.siteConfig = {};\n  if (typeof body.basePrompt === 'string') store.siteConfig.basePrompt = body.basePrompt;\n  if (Array.isArray(body.courses)) store.siteConfig.courses = body.courses;\n  return [{ json: { ok: true } }];\n}\n\n\nif (action === 'savePending') {\n  if (!store.pending) store.pending = {};\n  store.pending[body.id] = body.text;\n  return [{ json: { ok: true } }];\n}\n\nif (action === 'getPending') {\n  const text = (store.pending || {})[body.id] || null;\n  return [{ json: { text } }];\n}\n\nif (action === 'getChannelSettings') {\n  return [{ json: store.channelSettings || { autoPost9: false, autoPost13: true, autoPost19: true } }];\n}\n\nif (action === 'setChannelSettings') {\n  store.channelSettings = Object.assign(store.channelSettings || {}, body.settings || {});\n  return [{ json: { ok: true } }];\n}\n\n// ── File storage actions ──\nif (action === 'addFile') {\n  if (!store.files) store.files = [];\n  store.files.unshift({\n    id: body.id || 'f_' + Date.now(),\n    chatId: body.chatId || '',\n    name: body.name || '',\n    type: body.type || 'document',\n    mime: body.mime || '',\n    size: body.size || 0,\n    path: body.path || '',\n    description: body.description || '',\n    tags: body.tags || [],\n    summary: body.summary || '',\n    facts: body.facts || [],\n    ts: new Date().toISOString()\n  });\n  if (store.files.length > 500) store.files = store.files.slice(0, 500);\n  return [{ json: { ok: true } }];\n}\n\nif (action === 'searchFiles') {\n  const q = (body.query || '').toLowerCase();\n  const chatId = body.chatId || '';\n  const all = (store.files || []).filter(f => !chatId || String(f.chatId) === String(chatId));\n  if (!q) return [{ json: { files: all.slice(0, 20) } }];\n  const words = q.split(/\\s+/);\n  const scored = all.map(f => {\n    const hay = (f.name + ' ' + f.description + ' ' + (f.tags || []).join(' ')).toLowerCase();\n    const hits = words.filter(w => hay.includes(w)).length;\n    return { ...f, score: hits };\n  }).filter(f => f.score > 0).sort((a, b) => b.score - a.score);\n  return [{ json: { files: scored.slice(0, 10) } }];\n}\n\nif (action === 'getFiles') {\n  const chatId = body.chatId || '';\n  const all = (store.files || []).filter(f => !chatId || String(f.chatId) === String(chatId));\n  return [{ json: { files: all } }];\n}\n\n// Semantic search across knowledge base (summary + facts + description + tags)\nif (action === 'searchKnowledge') {\n  const q = (body.query || '').toLowerCase();\n  const chatId = body.chatId || '';\n  const all = (store.files || []).filter(f => !chatId || String(f.chatId) === String(chatId));\n  if (!q) return [{ json: { results: all.slice(0, 5).map(f => ({ name: f.name, description: f.description, summary: f.summary, facts: f.facts })) } }];\n  const words = q.split(/\\s+/).filter(w => w.length > 2);\n  const scored = all.map(f => {\n    const hay = (f.name + ' ' + f.description + ' ' + (f.tags || []).join(' ') + ' ' + (f.summary || '') + ' ' + (f.facts || []).join(' ')).toLowerCase();\n    const hits = words.filter(w => hay.includes(w)).length;\n    return { ...f, score: hits };\n  }).filter(f => f.score > 0).sort((a, b) => b.score - a.score);\n  const results = scored.slice(0, 5).map(f => ({ name: f.name, description: f.description, summary: f.summary, facts: f.facts, ts: f.ts }));\n  return [{ json: { results, total: scored.length } }];\n}\n\n// ── Email context actions ──\nif (action === 'addEmailContext') {\n  if (!store.emails) store.emails = [];\n  store.emails.unshift({\n    id: body.emailId || 'em_' + Date.now(),\n    from: body.from || '',\n    subject: body.subject || '',\n    body: (body.body || '').slice(0, 3000),\n    date: body.date || new Date().toISOString(),\n    summary: body.summary || ''\n  });\n  if (store.emails.length > 50) store.emails = store.emails.slice(0, 50);\n  return [{ json: { ok: true } }];\n}\n\nif (action === 'searchEmails') {\n  const q = (body.query || '').toLowerCase();\n  const all = store.emails || [];\n  if (!q) return [{ json: { emails: all.slice(0, 5) } }];\n  const words = q.split(/\\s+/);\n  const scored = all.map(e => {\n    const hay = (e.from + ' ' + e.subject + ' ' + e.body + ' ' + e.summary).toLowerCase();\n    const hits = words.filter(w => hay.includes(w)).length;\n    return { ...e, score: hits };\n  }).filter(e => e.score > 0).sort((a, b) => b.score - a.score);\n  return [{ json: { emails: scored.slice(0, 5) } }];\n}\n\nif (action === 'getEmails') {\n  return [{ json: { emails: (store.emails || []).slice(0, 20) } }];\n}\n\n// ── Alfa-Bank transactions (global, not per-session) ──\nfunction extractMerchant(purpose) {\n  if (!purpose) return null;\n  const m = purpose.match(/\\\\([^\\\\]+?)\\s+по\\s+чеку/i);\n  if (m) return m[1].trim();\n  const m2 = purpose.match(/\\b([A-ZА-Я0-9][A-ZА-Я0-9_\\-\\.]{3,})\\b/);\n  return m2 ? m2[1] : null;\n}\n\nif (action === 'addAlfaTx') {\n  if (!store.alfaTx) store.alfaTx = [];\n  const tx = body.tx;\n  if (tx && tx.id) {\n    if (!tx.merchant) tx.merchant = extractMerchant(tx.purpose);\n    // Apply rules if no category yet\n    if (!tx.category && tx.purpose) {\n      const upP = tx.purpose.toUpperCase();\n      const rule = (store.alfaRules || []).find(r => r.key && upP.includes(r.key.toUpperCase()));\n      if (rule) { tx.category = rule.category; tx.categorySource = 'rule'; }\n    } else if (tx.category) {\n      tx.categorySource = tx.categorySource || 'auto';\n    }\n    const exists = store.alfaTx.find(t => t.id === tx.id);\n    if (!exists) {\n      store.alfaTx.unshift(tx);\n      if (store.alfaTx.length > 5000) store.alfaTx = store.alfaTx.slice(0, 5000);\n    }\n  }\n  return [{ json: { ok: true, total: (store.alfaTx || []).length, appliedCategory: tx?.category || null } }];\n}\n\nif (action === 'getAlfaTx') {\n  let txs = store.alfaTx || [];\n  if (body.monthKey) txs = txs.filter(t => t.monthKey === body.monthKey);\n  if (body.onlyUncategorized) txs = txs.filter(t => !t.category);\n  return [{ json: { txs } }];\n}\n\nif (action === 'setAlfaCategory') {\n  const tx = (store.alfaTx || []).find(t => t.id === body.txId);\n  if (!tx) return [{ json: { ok: false, error: 'tx not found' } }];\n  tx.category = body.category || null;\n  tx.categorySource = 'manual';\n  // Save rule derived from merchant (default: yes)\n  if (body.rememberRule !== false && body.category) {\n    const key = body.ruleKey || tx.merchant || extractMerchant(tx.purpose);\n    if (key && key.length >= 3) {\n      if (!store.alfaRules) store.alfaRules = [];\n      store.alfaRules = store.alfaRules.filter(r => r.key !== key);\n      store.alfaRules.unshift({ key, category: body.category, ts: new Date().toISOString() });\n      if (store.alfaRules.length > 500) store.alfaRules = store.alfaRules.slice(0, 500);\n      // Also retroactively apply rule to past uncategorized txs with same merchant\n      let retro = 0;\n      for (const t of store.alfaTx || []) {\n        if (!t.category && t.purpose && t.purpose.toUpperCase().includes(key.toUpperCase())) {\n          t.category = body.category;\n          t.categorySource = 'rule';\n          retro++;\n        }\n      }\n      return [{ json: { ok: true, ruleKey: key, retro } }];\n    }\n  }\n  return [{ json: { ok: true } }];\n}\n\nif (action === 'getAlfaRules') {\n  return [{ json: { rules: store.alfaRules || [] } }];\n}\n\nif (action === 'removeAlfaTx') {\n  const before = (store.alfaTx || []).length;\n  if (store.alfaTx && body.txId) {\n    const removed = store.alfaTx.find(t => t.id === body.txId);\n    store.alfaTx = store.alfaTx.filter(t => t.id !== body.txId);\n    return [{ json: { ok: true, removed: !!removed, txDescr: removed ? (removed.amount + ' ₽ · ' + (removed.purpose || '').slice(0, 40)) : null } }];\n  }\n  return [{ json: { ok: false, error: 'no txId or store empty' } }];\n}\n\n// ── Bubbleplan tasks (synced from external) ──\nif (action === 'syncBubbles') {\n  store.bubbles = Array.isArray(body.bubbles) ? body.bubbles : [];\n  store.bubblesSyncedAt = new Date().toISOString();\n  return [{ json: { ok: true, count: store.bubbles.length, syncedAt: store.bubblesSyncedAt } }];\n}\n\nif (action === 'getBubbles') {\n  let bubbles = store.bubbles || [];\n  if (body.activeOnly) bubbles = bubbles.filter(b => b.status === 'active');\n  if (body.withDeadlineOnly) bubbles = bubbles.filter(b => b.deadline);\n  return [{ json: { bubbles, syncedAt: store.bubblesSyncedAt || null } }];\n}\n\nif (action === 'markBubbleDoneLocal') {\n  if (store.bubbles) {\n    const b = store.bubbles.find(x => x.id === body.id);\n    if (b) b.status = 'done';\n  }\n  return [{ json: { ok: true } }];\n}\n\n// ── User data actions (require sessionId) ──\nif (!sessionId) return [{ json: { error: 'no sessionId' } }];\n\nif (!store.u) store.u = {};\nif (!store.u[sessionId]) store.u[sessionId] = {};\n\nif (action === 'get') {\n  const u = store.u[sessionId];\n  const reports = (store.reports || []).filter(r => !r.read);\n  (store.reports || []).forEach(r => { r.read = true; });\n  // merge alfa transactions into finance list (read-only items, source='alfa')\n  const userFin = u.finance || [];\n  const alfaFin = (store.alfaTx || []).map(tx => ({\n    id: tx.id,\n    type: tx.direction || (tx.type === 'income' ? 'in' : 'out'),\n    amount: tx.amount,\n    text: (tx.direction === 'in' ? '💰 Поступление' + (tx.sender ? ' от ' + tx.sender : '') : (tx.category || '❓ нужна категория')) + ' — ' + (tx.purpose || '').slice(0, 60),\n    date: tx.isoDate || new Date().toISOString().slice(0,10),\n    d: tx.txDate || '',\n    category: tx.category || null,\n    mcc: tx.mcc || null,\n    purpose: tx.purpose || '',\n    account: tx.account || null,\n    source: 'alfa'\n  }));\n  const finance = [...alfaFin, ...userFin].sort((a, b) => (b.date || '').localeCompare(a.date || ''));\n  return [{ json: {\n    tasks:    u.tasks    || [],\n    notes:    u.notes    || [],\n    sport:    u.sport    || [],\n    projects: u.projects || [],\n    calendar: u.calendar || [],\n    content:  u.content  || [],\n    ideas:    u.ideas    || [],\n    finance,\n    bubbles:  store.bubbles || [],\n    bubblesSyncedAt: store.bubblesSyncedAt || null,\n    reports\n  }}];\n}\n\nif (action === 'setAll') {\n  const d = body.data || {};\n  const cols = ['tasks','notes','sport','projects','calendar','content','ideas','finance'];\n  for (const c of cols) {\n    if (Array.isArray(d[c])) {\n      // strip alfa items so they don't get duplicated when PWA writes back\n      store.u[sessionId][c] = c === 'finance' ? d[c].filter(x => x.source !== 'alfa') : d[c];\n    }\n  }\n  return [{ json: { ok: true } }];\n}\n\n\n\n\n\n\nreturn [{ json: { error: 'unknown action' } }];"
      }
    },
    {
      "id": "d3",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        660,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      }
    }
  ],
  "connections": {
    "Data Webhook": {
      "main": [
        [
          {
            "node": "Handle Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Data": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "versionId": "d0000001-0000-0000-0000-000000000005"
}