workflows/06-morning-report.json
{
  "name": "06-morning-report",
  "id": "morning-report-001",
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Yekaterinburg"
  },
  "nodes": [
    {
      "id": "mr1",
      "name": "Every Morning",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        200,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "mr1b",
      "name": "Fetch Alfa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://mycheagent.ru/webhook/pwa-data",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ action: 'getAlfaTx', monthKey: new Date().toISOString().slice(0,7) }) }}",
        "options": {
          "timeout": 15000,
          "response": { "response": { "neverError": true } }
        }
      }
    },
    {
      "id": "mr2",
      "name": "Gather Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ],
      "parameters": {
        "jsCode": "const store = $getWorkflowStaticData('global');\nconst sessions = store.u || {};\nlet best = null, bestScore = -1;\nfor (const [sid, u] of Object.entries(sessions)) {\n  const score = (u.tasks?.length||0) + (u.projects?.length||0) + (u.notes?.length||0);\n  if (score > bestScore) { bestScore = score; best = u; }\n}\nif (!best) best = {};\n\nconst today = new Date().toISOString().slice(0,10);\nconst todayRu = new Date().toLocaleDateString('ru',{weekday:'long',day:'numeric',month:'long'});\n\nconst pending = (best.tasks||[]).filter(t=>!t.done);\nconst in7 = new Date(Date.now()+7*86400000).toISOString().slice(0,10);\nconst events = (best.calendar||[]).filter(e=>e.date>=today&&e.date<=in7).sort((a,b)=>a.date>b.date?1:-1);\nconst thisMonth = today.slice(0,7);\n\n// Finance: пользовательские записи + транзакции Альфы из backend\nconst userFin = best.finance || [];\nconst alfaTxs = $('Fetch Alfa').first().json.txs || [];\nconst userIn = userFin.filter(e=>e.type==='in' &&e.date?.startsWith(thisMonth)).reduce((s,e)=>s+e.amount,0);\nconst userOut = userFin.filter(e=>e.type==='out'&&e.date?.startsWith(thisMonth)).reduce((s,e)=>s+e.amount,0);\nconst alfaIn = alfaTxs.filter(t=>t.direction==='in').reduce((s,t)=>s+(Number(t.amount)||0),0);\nconst alfaOut = alfaTxs.filter(t=>t.direction!=='in').reduce((s,t)=>s+(Number(t.amount)||0),0);\nconst finIn = userIn + alfaIn;\nconst finOut = userOut + alfaOut;\nconst alfaCount = alfaTxs.length;\n\n// Top-3 категорий трат месяца\nconst byCat = {};\nfor (const t of alfaTxs) {\n  if (t.direction === 'in') continue;\n  const c = t.category || '❓';\n  byCat[c] = (byCat[c] || 0) + (Number(t.amount) || 0);\n}\nconst topCats = Object.entries(byCat).sort((a,b)=>b[1]-a[1]).slice(0,3).map(([c,s])=>c+': '+Math.round(s)+' ₽').join(', ');\n\nconst ctActive = (best.content||[]).filter(e=>e.status!=='done').length;\nconst ideasCount = (best.ideas||[]).length;\n\nreturn [{ json: { todayRu, pending, events, finIn, finOut, alfaCount, topCats, ctActive, ideasCount } }];"
      }
    },
    {
      "id": "mr3",
      "name": "Build Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.OPENAI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: 'gpt-4o-mini', messages: [{ role: 'system', content: 'Ты Зевс — личный ассистент Дениса. Составь краткое утреннее сводное сообщение в Telegram (Markdown). Используй эмодзи. Обращайся по имени «Денис» или на «ты». Будь краток и по делу.' }, { role: 'user', content: 'Дата: ' + $json.todayRu + '\\n\\nЗадачи в очереди: ' + $json.pending.length + ($json.pending.length ? '\\n' + $json.pending.slice(0,5).map((t,i)=>(i+1)+'. '+t.text).join('\\n') : '') + '\\n\\nСобытия (7 дней): ' + ($json.events.length ? $json.events.map(e=>e.date+' — '+e.text).join(', ') : 'нет') + '\\n\\nФинансы за месяц: пришло +' + Math.round($json.finIn).toLocaleString('ru-RU') + ' ₽, потрачено −' + Math.round($json.finOut).toLocaleString('ru-RU') + ' ₽ (Альфа: ' + $json.alfaCount + ' операций)' + ($json.topCats ? '\\nТоп трат: ' + $json.topCats : '') + '\\n\\nКонтент в работе: ' + $json.ctActive + '\\nИдей на проработку: ' + $json.ideasCount }], max_tokens: 400 }) }}"
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1500
    },
    {
      "id": "mr4",
      "name": "Extract Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        300
      ],
      "parameters": {
        "jsCode": "const res = $input.first().json;\nif (!res.choices) return [{ json: { text: 'Доброе утро, Денис! Зевс на связи 🌅' } }];\nreturn [{ json: { text: res.choices[0].message.content.trim() } }];"
      }
    },
    {
      "id": "mr5",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1060,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ chat_id: $env.TELEGRAM_CHAT_ID, text: $json.text, parse_mode: 'Markdown' }) }}"
      }
    }
  ],
  "connections": {
    "Every Morning": {
      "main": [
        [
          {
            "node": "Fetch Alfa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Alfa": {
      "main": [
        [
          {
            "node": "Gather Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gather Data": {
      "main": [
        [
          {
            "node": "Build Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Report": {
      "main": [
        [
          {
            "node": "Extract Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "versionId": "d0000001-0000-0000-0000-000000000006"
}
