workflows/07-ai-news.json
{
  "name": "07-ai-news",
  "id": "ai-news-001",
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "id": "an1",
      "name": "Every Morning",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        200,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "an1b",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        440
      ],
      "webhookId": "trigger-news",
      "parameters": {
        "httpMethod": "POST",
        "path": "trigger-news",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "an2",
      "name": "Fetch RSS Feeds",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ],
      "parameters": {
        "jsCode": "const S = [\n  {n:'Google AI',u:'https://blog.google/technology/ai/rss/'},\n  {n:'Microsoft AI',u:'https://blogs.microsoft.com/ai/feed/'},\n  {n:'HuggingFace',u:'https://huggingface.co/blog/feed.xml'},\n  {n:'NVIDIA',u:'https://blogs.nvidia.com/feed/'},\n  {n:'AWS ML',u:'https://aws.amazon.com/blogs/machine-learning/feed/'},\n  {n:'Wired AI',u:'https://www.wired.com/feed/tag/ai/latest/rss'},\n  {n:'Ars Technica',u:'https://feeds.arstechnica.com/arstechnica/technology-lab'},\n  {n:'MIT Tech Review',u:'https://www.technologyreview.com/feed/'},\n  {n:'Engadget',u:'https://www.engadget.com/rss.xml'},\n  {n:'TechCrunch AI',u:'https://techcrunch.com/category/artificial-intelligence/feed/'},\n  {n:'ArXiv AI',u:'http://arxiv.org/rss/cs.AI'},\n  {n:'ArXiv ML',u:'http://arxiv.org/rss/cs.LG'},\n  {n:'Habr ML',u:'https://habr.com/ru/rss/hub/machine_learning/articles/'},\n  {n:'Habr AI',u:'https://habr.com/ru/rss/hub/artificial_intelligence/articles/'},\n  {n:'Habr ChatGPT',u:'https://habr.com/ru/rss/hub/chatgpt/articles/'},\n  {n:'Hacker News',u:'https://news.ycombinator.com/rss'},\n  {n:'Reddit ML',u:'https://www.reddit.com/r/MachineLearning/.rss'},\n  {n:'Reddit AI',u:'https://www.reddit.com/r/artificial/.rss'},\n  {n:'BBC Tech',u:'http://feeds.bbci.co.uk/news/technology/rss.xml'},\n  {n:'Guardian AI',u:'https://www.theguardian.com/technology/artificialintelligenceai/rss'},\n  {n:'VentureBeat',u:'https://venturebeat.com/feed/'},\n  {n:'The Verge',u:'https://www.theverge.com/rss/index.xml'},\n  {n:'InfoQ AI',u:'https://www.infoq.com/ai-ml-data-eng/rss/'},\n  {n:'MarkTechPost',u:'https://www.marktechpost.com/feed/'},\n  {n:'Apple ML',u:'https://machinelearning.apple.com/rss'},\n  {n:'Towards DS',u:'https://medium.com/feed/towards-data-science'},\n  {n:'9to5Google',u:'https://9to5google.com/feed/'},\n  {n:'Google Cloud AI',u:'https://cloud.google.com/blog/topics/ai-machine-learning/rss/'},\n  {n:'Synced',u:'https://syncedreview.com/feed/'},\n  {n:'Fast Company',u:'https://www.fastcompany.com/technology/rss'}\n];\n\nfunction t(s){return s?s.replace(/<\\!\\[CDATA\\[/g,'').replace(/\\]\\]>/g,'').replace(/<[^>]+>/g,'').replace(/&amp;/g,'&').replace(/&lt;/g,'<').replace(/&gt;/g,'>').replace(/&#\\d+;/g,'').trim():'';}\nfunction pd(s){if(!s)return null;try{const d=new Date(s);return isNaN(d)?null:d;}catch(e){return null;}}\n\nfunction parse(xml, src) {\n  const items = [];\n  const rss = [...xml.matchAll(/<item>([\\s\\S]*?)<\\/item>/g)];\n  for (const [,raw] of rss) {\n    const title = t((/<title[^>]*>([\\s\\S]*?)<\\/title>/.exec(raw) || ['',''])[1]);\n    const link = t((/<link>([\\s\\S]*?)<\\/link>/.exec(raw) || ['',''])[1]) || t((/<guid[^>]*>([\\s\\S]*?)<\\/guid>/.exec(raw) || ['',''])[1]);\n    const date = pd(t((/<pubDate>([\\s\\S]*?)<\\/pubDate>/.exec(raw) || ['',''])[1]));\n    const desc = t((/<description>([\\s\\S]*?)<\\/description>/.exec(raw) || ['',''])[1]).slice(0, 150);\n    if (title && title.length > 5) items.push({ src, title, link, date, desc });\n  }\n  if (!items.length) {\n    const atom = [...xml.matchAll(/<entry>([\\s\\S]*?)<\\/entry>/g)];\n    for (const [,raw] of atom) {\n      const title = t((/<title[^>]*>([\\s\\S]*?)<\\/title>/.exec(raw) || ['',''])[1]);\n      const link = (/<link[^>]+href=\"([^\"]+)\"/.exec(raw) || ['',''])[1];\n      const date = pd(t((/<published>([\\s\\S]*?)<\\/published>/.exec(raw) || /<updated>([\\s\\S]*?)<\\/updated>/.exec(raw) || ['',''])[1]));\n      const desc = t((/<summary[^>]*>([\\s\\S]*?)<\\/summary>/.exec(raw) || ['',''])[1]).slice(0, 150);\n      if (title && title.length > 5) items.push({ src, title, link, date, desc });\n    }\n  }\n  return items;\n}\n\nconst errors = [];\nconst perSource = [];\n\nconst res = await Promise.allSettled(S.map(async s => {\n  try {\n    const xml = await this.helpers.httpRequest({\n      method: 'GET',\n      url: s.u,\n      timeout: 15000,\n      headers: { 'User-Agent': 'Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html)' },\n      returnFullResponse: false\n    });\n    const text = typeof xml === 'string' ? xml : JSON.stringify(xml);\n    const items = parse(text, s.n);\n    perSource.push({ src: s.n, count: items.length });\n    return items;\n  } catch (e) {\n    errors.push({ src: s.n, err: String(e.message || e).slice(0, 120) });\n    perSource.push({ src: s.n, count: 0 });\n    return [];\n  }\n}));\n\nconst now = new Date();\nconst cutoff = new Date(now - 48 * 3600 * 1000);\nconst seen = new Set();\nconst articles = [];\nconst dated = [];\nconst undated = [];\n\nfor (const r of res) {\n  if (r.status !== 'fulfilled') continue;\n  for (const a of r.value) {\n    const k = a.title.toLowerCase().slice(0, 40);\n    if (seen.has(k)) continue;\n    seen.add(k);\n    if (a.date) {\n      if (a.date >= cutoff) dated.push(a);\n    } else {\n      undated.push(a);\n    }\n  }\n}\n\ndated.sort((a, b) => (b.date || new Date(0)) - (a.date || new Date(0)));\n\n// Fallback: if too few dated articles, allow undated too (limit 10)\nconst final = dated.length >= 10 ? dated : [...dated, ...undated.slice(0, 10 - dated.length)];\nconst fetched = res.filter(r => r.status === 'fulfilled' && r.value.length > 0).length;\n\nreturn [{ json: { articles: final.slice(0, 40), fetched, total: S.length, errors: errors.slice(0, 10), perSource } }];\n"
      }
    },
    {
      "id": "an2b",
      "name": "Build Claude Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        300
      ],
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst today = new Date().toLocaleDateString('ru-RU', {day:'numeric',month:'long',year:'numeric'});\nconst articles = data.articles || [];\nconst list = articles.map((a,i) => (i+1)+'. ['+a.src+'] '+a.title+(a.desc?' — '+a.desc:'')).join('\\n');\nconst userContent = 'Сегодня ' + today + '. Источников: ' + (data.fetched||'?') + '/' + (data.total||'?') + '. Свежих статей: ' + articles.length + '.\\n\\n' + list;\n\nconst systemPrompt = 'Ты пишешь ЗА Дениса Видякова (автора Telegram-канала Студия ЧЕ про видеомонтаж и нейросети) его ежедневный пост с дайджестом ИИ-новостей. Пиши ОТ ПЕРВОГО ЛИЦА — как будто сам Денис делится с подписчиками: «собрал для вас…», «сегодня приметил…», «на неделе вышло…», «советую присмотреться», «мне это интересно потому что…». Никаких упоминаний ИИ-ассистента, никаких «я Зевс», никаких «я помогаю». Ты = Денис.\\n\\nСТИЛЬ: живой, дружеский, экспертный. Как будто разговариваешь с коллегами-видеомейкерами. Без канцелярита, без «дорогие друзья».\\n\\nФОРМАТ:\\n- Заголовок: ИИ-ДАЙДЖЕСТ — [дата]\\n- 1-2 предложения вступления от Дениса («Собрал для вас свежее» / «За последние сутки вышло много годноты» и т.п.)\\n- Ровно 7 новостей с эмодзи. Каждая 2-3 предложения: что произошло + КАК это применить в контенте/монтаже/работе видеомейкера. От первого лица («я бы взял для рилса», «пробовал уже, работает»).\\n- В конце 2-3 предложения вывода о тренде дня/недели с личной оценкой.\\n- Обычный текст без Markdown.\\n\\nФИЛЬТР: только новости про ИИ — новые модели, релизы нейросетей, обновления ИИ-инструментов, фичи. Не берём общий tech, продуктовые новости не связанные с ИИ.';\n\nconst body = JSON.stringify({\n  model: 'claude-opus-4-6',\n  max_tokens: 1500,\n  stream: false,\n  system: systemPrompt,\n  messages: [{ role: 'user', content: userContent }]\n});\n\nreturn [{ json: { body, articleCount: articles.length } }];"
      }
    },
    {
      "id": "an3",
      "name": "Claude Posts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_DIRECT_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.body }}",
        "options": {
          "timeout": 120000
        }
      }
    },
    {
      "id": "an4",
      "name": "Extract Post",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        300
      ],
      "parameters": {
        "jsCode": "const res = $input.first().json;\nconst textBlock = res.content ? res.content.find(c => c.type === 'text') : null;\nif (!textBlock) return [{ json: { ok: false, error: 'no text block' } }];\nlet post = textBlock.text.trim();\npost = post.replace(/@studiyaCHE\\s*$/i, '').trim();\npost += '\\n\\n@studiyaCHE';\nconst id = 'digest_' + Date.now();\nreturn [{ json: { post, id } }];"
      }
    },
    {
      "id": "an5",
      "name": "Save Pending",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://mycheagent.ru/webhook/pwa-data",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ action: 'savePending', id: $json.id, text: $json.post }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "an6",
      "name": "Save Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://mycheagent.ru/webhook/pwa-data",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ action: 'addReport', text: '📰 ' + $('Extract Post').first().json.post }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "an7",
      "name": "Send TG",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ chat_id: 211279650, text: $('Extract Post').first().json.post, reply_markup: { inline_keyboard: [[ { text: '✅ Опубликовать в канал', callback_data: 'channel:' + $('Extract Post').first().json.id }, { text: '❌ Не публиковать', callback_data: 'channel_skip:' + $('Extract Post').first().json.id } ]] } }) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Every Morning": {
      "main": [
        [
          {
            "node": "Fetch RSS Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Fetch RSS Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch RSS Feeds": {
      "main": [
        [
          {
            "node": "Build Claude Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Claude Body": {
      "main": [
        [
          {
            "node": "Claude Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Posts": {
      "main": [
        [
          {
            "node": "Extract Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Post": {
      "main": [
        [
          {
            "node": "Save Pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Pending": {
      "main": [
        [
          {
            "node": "Save Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Report": {
      "main": [
        [
          {
            "node": "Send TG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "versionId": "d0000001-0000-0000-0000-000000000007"
}