workflows/11-avito-chat.json
{
  "updatedAt": "2026-04-12T18:52:04.858Z",
  "createdAt": "2026-04-12T12:27:33.068Z",
  "id": "avito-chat-001",
  "name": "11-avito-chat",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "av1",
      "name": "Avito Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        300
      ],
      "webhookId": "avito-messages-hook",
      "parameters": {
        "httpMethod": "POST",
        "path": "avito-messages",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "av2",
      "name": "Parse Incoming",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ],
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst body = raw.body || raw;\n\n// Avito v3.0.0 wraps in payload.value\nconst payload = body.payload || body;\nconst value = payload.value || body.value || body;\n\n// Skip non-text/non-message types\nif (payload.type && payload.type !== 'message') {\n  return [{ json: { skip: true, reason: 'not a message: ' + payload.type } }];\n}\nif (value.type && value.type !== 'text') {\n  return [{ json: { skip: true, reason: 'not text: ' + value.type } }];\n}\n\nconst chatId = value.chat_id || value.chatId || '';\nconst authorId = String(value.author_id || value.authorId || '');\nconst msgId = value.id || '';\nconst text = value.content?.text || value.text || '';\nconst itemId = String(value.item_id || value.itemId || body.item_id || '');\n\nif (!chatId || !text) {\n  return [{ json: { skip: true, reason: 'no chatId or text', debug: JSON.stringify(body).slice(0,500) } }];\n}\n\nreturn [{ json: { chatId, authorId, msgId, text, itemId, skip: false } }];"
      }
    },
    {
      "id": "av2b",
      "name": "Should Parse?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        520,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cparse",
              "leftValue": "={{ $json.chatId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "av5b",
      "name": "Should Reply?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1180,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "creply",
              "leftValue": "={{ $json.token }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "av3",
      "name": "Get Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.avito.ru/token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "client_credentials"
            },
            {
              "name": "client_id",
              "value": "={{ $env.AVITO_CLIENT_ID }}"
            },
            {
              "name": "client_secret",
              "value": "={{ $env.AVITO_CLIENT_SECRET }}"
            }
          ]
        }
      }
    },
    {
      "id": "av4",
      "name": "Get Self",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        860,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.avito.ru/core/v1/accounts/self",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.access_token }}"
            }
          ]
        }
      }
    },
    {
      "id": "av5",
      "name": "Merge Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        300
      ],
      "parameters": {
        "jsCode": "const token = $('Get Token').first().json.access_token;\nconst userId = String($input.first().json.id);\nconst parsed = $('Parse Incoming').first().json;\n\n// Don't reply to our own messages\nif (parsed.authorId === userId) {\n  return [{ json: { skip: true, reason: 'own message' } }];\n}\n\n// Dedup: don't reply to same message twice\nconst store = $getWorkflowStaticData('global');\nif (!store.replied) store.replied = {};\nif (store.replied[parsed.chatId] === parsed.msgId) {\n  return [{ json: { skip: true, reason: 'already replied' } }];\n}\n\nreturn [{ json: { skip: false, token, userId, chatId: parsed.chatId, msgId: parsed.msgId, lastText: parsed.text, itemId: parsed.itemId || '' } }];"
      }
    },
    {
      "id": "av6",
      "name": "Get Chat History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://api.avito.ru/messenger/v3/accounts/' + $json.userId + '/chats/' + $json.chatId + '/messages/?limit=10' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.token }}"
            }
          ]
        }
      }
    },
    {
      "id": "av6c",
      "name": "Get Item Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://api.avito.ru/core/v1/items/' + $('Merge Context').first().json.itemId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Merge Context').first().json.token }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "av6d",
      "name": "Check Item",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        300
      ],
      "parameters": {
        "jsCode": "const itemData = $input.first().json;\nconst title = (itemData.title || itemData.name || '').toLowerCase();\nconst categoryName = (itemData.category?.name || '').toLowerCase();\nconst hay = title + ' ' + categoryName;\n\n// Keywords that indicate this is our training/courses listing\nconst trainingKeywords = [\n  'курс', 'курсы', 'обучен', 'школ', 'уроки', 'урок', 'занят',\n  'монтаж', 'видеомонт', 'видеомейк', 'видеоредактор',\n  'premiere', 'after effects', 'davinci', 'final cut',\n  'нейрос', 'нейросет', 'ии ', ' ии', 'искусствен', 'ai ', 'ai,', 'chatgpt',\n  'midjourney', 'kling', 'suno', 'sora',\n  'репетитор', 'преподават', 'наставн', 'ментор',\n  'студия че', 'studiya che', 'studia che'\n];\n\nconst isTraining = trainingKeywords.some(kw => hay.includes(kw));\n\n// Pass through all fields + flag\nreturn [{ json: { ...itemData, isTrainingItem: isTraining, itemTitle: itemData.title || itemData.name || '', itemCategoryName: itemData.category?.name || '' } }];"
      }
    },
    {
      "id": "av6e",
      "name": "Is Training?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1420,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "ctrain",
              "leftValue": "={{ $json.isTrainingItem }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "av6b",
      "name": "Get Site Config",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "https://mycheagent.ru/webhook/site-config",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "av7",
      "name": "Prepare GPT Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        300
      ],
      "parameters": {
        "jsCode": "const ctx = $('Merge Context').first().json;\nconst msgs = ($('Get Chat History').first().json.messages || []).slice().reverse();\n\nconst conversation = msgs\n  .filter(m => m.content?.text)\n  .map(m => ({\n    role: String(m.author_id) === String(ctx.userId) ? 'assistant' : 'user',\n    content: m.content.text\n  }));\n\n// Ensure last message is from user\nif (!conversation.length || conversation[conversation.length-1].role !== 'user') {\n  conversation.push({ role: 'user', content: ctx.lastText });\n}\n\n// Item info (which ad they wrote from)\nconst itemData = $('Get Item Info').first().json;\nconst itemTitle = itemData.title || itemData.name || '';\nconst itemCategory = itemData.category?.name || '';\nconst itemLine = itemTitle ? `\\n\\nОБЪЯВЛЕНИЕ: Человек написал по объявлению «${itemTitle}»${itemCategory ? ' (категория: ' + itemCategory + ')' : ''}. Отвечай с учётом этого контекста.` : '';\n\n// Get shared config from site-chat workflow\nconst siteConf = $input.first().json;\nconst basePrompt = siteConf.basePrompt || 'Ты — ассистент платформы Студия ЧЕ по видеомонтажу и ИИ.';\nconst courses = siteConf.courses || [];\n\nconst coursesList = courses.map((c,i) => `${i+1}. \"${c.name}\" — ${c.price}${c.level ? ' ('+c.level+')' : ''}`).join('\\n');\n\n// --- Sales role: загружается из static data (редактируется через TG/PWA),\n// с дефолтом при пустом значении. Editable key: store.avitoConfig.salesPrompt\nconst DEFAULT_SALES_ROLE = `РОЛЬ: Ты — менеджер по продажам высшего класса в Студии ЧЕ. Не бот, а живой профессионал: уверенный, внимательный, располагающий. Твоя задача — помочь человеку решить его задачу через наш продукт и мягко довести до покупки.\n\nСТИЛЬ ОБЩЕНИЯ НА АВИТО:\n- ВСЕГДА обращайся на «Вы» (с большой буквы). Это деловое общение.\n- 2-4 предложения. Без воды, без формальностей, без «Здравствуйте, я представитель...». Сразу по делу, живо, по-человечески.\n- Пиши как опытный продавец в переписке: короткие предложения, без канцелярита, без смайликов более 1 на сообщение.\n\nЛОГИКА ПРОДАЖ:\n1. ПЕРВОЕ СООБЩЕНИЕ клиента — выясни контекст: что человеку нужно, какая цель (блог, работа, хобби, новая профессия). Не вываливай сразу курсы — задай 1 короткий уточняющий вопрос.\n2. ВЫЯСНИВ ПОТРЕБНОСТЬ — подбери 1-2 курса из списка, которые реально ему подходят. Объясни ЧТО человек получит (навык, результат, через сколько), а не формальное «что входит».\n3. ЦЕНА — называй сразу и уверенно, как только спросят. Никогда не уходи от ответа. Формат: «Курс X — Y рублей. Оплата единоразово, доступ навсегда».\n4. ВОЗРАЖЕНИЯ — работай мягко: «дорого» → покажи ценность (стоимость 1-2 заказов на фрилансе окупает). «Подумаю» → «Что конкретно смущает? Могу помочь разобраться». «Справлюсь сам» → уважай выбор, но напомни про структуру и поддержку.\n5. ДОПРОДАЖА — если человек интересуется одним курсом, упомяни связанный (например, купили монтаж → предложи ИИ-инструменты как следующий шаг).\n6. ЗАКРЫТИЕ — когда клиент готов («интересно», «как оплатить», «беру»), добавь SEND_SITE_LINK в конец ответа. Ссылка даст ему страницу курса и форму оплаты.\n\nТЕМАТИКА (ЖЁСТКО):\n- Ты отвечаешь ТОЛЬКО про наши курсы, видеомонтаж, нейросети, контент, работу видеомейкера и смежные темы.\n- Если клиент спрашивает про другое (погода, политика, личное, посторонние услуги, несвязанные товары) — вежливо скажи одним предложением что по этим вопросам не консультируешь, и верни разговор к обучению. Пример: «По этому вопросу подсказать не смогу, я специализируюсь на наших курсах по видеомонтажу и нейросетям. Если интересно обучение — расскажу».\n- Не поддерживай долгий офф-топик даже если клиент настаивает.\n\nЖЁСТКИЕ ПРАВИЛА:\n- НИКОГДА не выдумывай цены, курсы, условия, даты стартов или характеристики, которых нет в списке выше.\n- Если не знаешь ответа — честно скажи «Этот момент уточню у преподавателя и вернусь» и не придумывай.\n- Не обещай скидок без подтверждения.\n- SEND_SITE_LINK добавляй ТОЛЬКО когда клиент явно готов (купить, оплатить, записаться, посмотреть подробно, изучить программу). НЕ добавляй в первых ответах и при общих вопросах.`;\n\nconst store = $getWorkflowStaticData('global');\nif (!store.avitoConfig) store.avitoConfig = {};\nconst salesRole = (store.avitoConfig.salesPrompt && String(store.avitoConfig.salesPrompt).trim().length > 100)\n  ? String(store.avitoConfig.salesPrompt)\n  : DEFAULT_SALES_ROLE;\n\nconst systemPrompt = basePrompt + '\\n\\nКУРСЫ НА ПЛАТФОРМЕ:\\n' + coursesList + itemLine + '\\n\\n' + salesRole;\n\nconst body = JSON.stringify({\n  model: 'gpt-4o-mini',\n  messages: [{ role: 'system', content: systemPrompt }, ...conversation],\n  max_tokens: 350,\n  temperature: 0.7\n});\n\nreturn [{ json: { gptBody: body, token: ctx.token, userId: ctx.userId, chatId: ctx.chatId, msgId: ctx.msgId, usedOverride: salesRole !== DEFAULT_SALES_ROLE } }];"
      }
    },
    {
      "id": "av8",
      "name": "GPT Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1740,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.OPENAI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.gptBody }}"
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1500
    },
    {
      "id": "av9",
      "name": "Extract Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1960,
        300
      ],
      "parameters": {
        "jsCode": "const gptRes = $input.first().json;\nconst prev = $('Prepare GPT Body').first().json;\nlet reply = gptRes.choices?.[0]?.message?.content?.trim() || 'Добрый день! Чем могу помочь? 😊';\n\nconst sendLink = reply.includes('SEND_SITE_LINK');\nreply = reply.replace('SEND_SITE_LINK', '').trim();\n\nreturn [{ json: { reply, sendLink, token: prev.token, userId: prev.userId, chatId: prev.chatId, msgId: prev.msgId } }];"
      }
    },
    {
      "id": "av10",
      "name": "Send Avito Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2180,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.avito.ru/messenger/v1/accounts/' + $json.userId + '/chats/' + $json.chatId + '/messages' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ message: { text: $json.reply }, type: 'text' }) }}"
      }
    },
    {
      "id": "av11",
      "name": "Should Send Link?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2400,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $('Extract Reply').item.json.sendLink }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "av12",
      "name": "Send Site Link",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2620,
        160
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.avito.ru/messenger/v1/accounts/' + $('Extract Reply').item.json.userId + '/chats/' + $('Extract Reply').item.json.chatId + '/messages' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Extract Reply').item.json.token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ message: { text: '🎓 Записаться и посмотреть все программы: studiyache.ru\\n\\nДоступ навсегда после оплаты, без подписок 💪' }, type: 'text' }) }}"
      }
    },
    {
      "id": "av13",
      "name": "Mark Replied",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2840,
        300
      ],
      "parameters": {
        "jsCode": "const ctx = $('Extract Reply').first().json;\nconst store = $getWorkflowStaticData('global');\nif (!store.replied) store.replied = {};\nstore.replied[ctx.chatId] = ctx.msgId;\nconst keys = Object.keys(store.replied);\nif (keys.length > 500) {\n  keys.slice(0, keys.length - 500).forEach(k => delete store.replied[k]);\n}\nreturn [{ json: { ok: true } }];"
      }
    }
  ],
  "connections": {
    "Avito Webhook": {
      "main": [
        [
          {
            "node": "Parse Incoming",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Incoming": {
      "main": [
        [
          {
            "node": "Should Parse?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Parse?": {
      "main": [
        [
          {
            "node": "Get Token",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Get Token": {
      "main": [
        [
          {
            "node": "Get Self",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Self": {
      "main": [
        [
          {
            "node": "Merge Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Context": {
      "main": [
        [
          {
            "node": "Should Reply?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Reply?": {
      "main": [
        [
          {
            "node": "Get Chat History",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Get Chat History": {
      "main": [
        [
          {
            "node": "Get Item Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Item Info": {
      "main": [
        [
          {
            "node": "Check Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Item": {
      "main": [
        [
          {
            "node": "Is Training?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Training?": {
      "main": [
        [
          {
            "node": "Get Site Config",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Get Site Config": {
      "main": [
        [
          {
            "node": "Prepare GPT Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare GPT Body": {
      "main": [
        [
          {
            "node": "GPT Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT Reply": {
      "main": [
        [
          {
            "node": "Extract Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Reply": {
      "main": [
        [
          {
            "node": "Send Avito Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Avito Reply": {
      "main": [
        [
          {
            "node": "Should Send Link?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Send Link?": {
      "main": [
        [
          {
            "node": "Send Site Link",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Replied",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Site Link": {
      "main": [
        [
          {
            "node": "Mark Replied",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Replied": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "ed0ef2d8-aa52-44b2-bd3b-edbe9eb45445"
}