workflows/13-yandex-mail.json
{
  "name": "13-yandex-mail",
  "id": "ya-mail-001",
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Yekaterinburg"
  },
  "nodes": [
    {
      "id": "m1",
      "name": "Collect Emails",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [
        200,
        300
      ],
      "parameters": {
        "mailbox": "INBOX",
        "postProcessAction": "read",
        "format": "simple",
        "options": {
          "allowUnauthorizedCerts": true,
          "forceReconnectAfterMinutes": 5
        }
      },
      "credentials": {
        "imap": {
          "id": "yandex-mail-imap",
          "name": "Yandex Mail IMAP"
        }
      }
    },
    {
      "id": "m2",
      "name": "Buffer Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ],
      "parameters": {
        "jsCode": "const email = $input.first().json;\nconst from = email.from?.text || email.from?.value?.[0]?.address || email.from || 'Unknown';\nconst subject = email.subject || '(без темы)';\nconst body = (email.text || email.textAsHtml || email.html || '').replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim().slice(0, 1500);\nconst date = email.date || new Date().toISOString();\nconst emailId = 'em_' + Date.now() + '_' + Math.random().toString(36).slice(2,8);\n\nconst store = $getWorkflowStaticData('global');\nif (!store.emailBuffer) store.emailBuffer = [];\n\nstore.emailBuffer.push({ id: emailId, from, subject, body, date, collected: new Date().toISOString() });\nif (store.emailBuffer.length > 200) store.emailBuffer = store.emailBuffer.slice(-200);\n\nreturn [{ json: { buffered: true, bufferSize: store.emailBuffer.length } }];"
      }
    },
    {
      "id": "m3",
      "name": "3x Daily",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        200,
        500
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7,20 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "m4",
      "name": "Prepare Digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        500
      ],
      "parameters": {
        "jsCode": "const store = $getWorkflowStaticData('global');\nconst emails = store.emailBuffer || [];\n\nif (!emails.length) {\n  return [{ json: { skip: true, count: 0 } }];\n}\n\n// Slot detection by Yekaterinburg local hour (UTC+5)\nconst hourEkb = (new Date().getUTCHours() + 5) % 24;\nconst slot = hourEkb < 14 ? '🌅 Утренняя' : '🌇 Вечерняя';\n\n// Save emails snapshot for context\nif (!store.emails) store.emails = [];\nfor (const e of emails) {\n  store.emails.unshift({ id: e.id, from: e.from, subject: e.subject, body: e.body, date: e.date, summary: '' });\n}\nif (store.emails.length > 100) store.emails = store.emails.slice(0, 100);\n\n// Build list for GPT (compact)\nconst list = emails.map((e,i) => (i+1) + '. От: ' + e.from + '\\n   Тема: ' + e.subject + '\\n   Текст: ' + (e.body || '').slice(0, 400)).join('\\n\\n');\n\n// Clear buffer\nstore.emailBuffer = [];\n\nreturn [{ json: { skip: false, count: emails.length, slot, list } }];"
      }
    },
    {
      "id": "m5",
      "name": "Has Emails?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        640,
        500
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cem",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "m6",
      "name": "Build GPT Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        500
      ],
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst systemPrompt = 'Ты почтовый ассистент Зевс. Тебе дают список писем за период. Сделай КРАТКУЮ сводку на русском:\\n\\nФормат:\\n🔴 ВАЖНОЕ (если есть) — оплаты, коды, банки, договора, дедлайны. 1-2 строки на каждое с указанием отправителя.\\n📬 ПО ДЕЛУ (если есть) — рабочая переписка, личное, ответы. Кратко.\\n📭 ПРОЧЕЕ — рассылки, реклама, уведомления. Одной строкой: \"N рассылок (Ozon, VK, и др.)\".\\n\\nВ конце: \"Всего писем: N\". Никаких комментариев, только сводка. Максимум 15 строк.';\n\nconst userContent = 'Писем за период: ' + data.count + '.\\n\\n' + data.list;\n\nconst body = JSON.stringify({\n  model: 'gpt-4o-mini',\n  messages: [{ role: 'system', content: systemPrompt }, { role: 'user', content: userContent }],\n  max_tokens: 800\n});\n\nreturn [{ json: { body, slot: data.slot, count: data.count } }];"
      }
    },
    {
      "id": "m7",
      "name": "GPT Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        500
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.OPENAI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.body }}",
        "options": {
          "timeout": 60000
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1500
    },
    {
      "id": "m8",
      "name": "Send Digest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        500
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ (function() { const gpt = $input.first().json; const bb = $('Build GPT Body').first().json; const summary = gpt.choices?.[0]?.message?.content || 'Не удалось получить сводку'; const text = '📧 ' + bb.slot + ' сводка почты (' + bb.count + ' писем)\\n\\n' + summary + '\\n\\n💬 Спроси подробнее — я помню контекст'; return JSON.stringify({ chat_id: $env.TELEGRAM_CHAT_ID, text: text }); })() }}",
        "options": {}
      }
    },
    {
      "id": "m9",
      "name": "Filter Alfa",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        100
      ],
      "parameters": {
        "jsCode": "const e = $input.first().json;\nconst from = (e.from?.text || e.from?.value?.[0]?.address || e.from || '').toLowerCase();\nif (!/(alfa|альфа)/i.test(from)) return [];\n\nconst subject = e.subject || '';\nconst rawHtml = e.html || '';\nconst fullBody = (e.text || e.textAsHtml || rawHtml.replace(/<[^>]+>/g, ' ')).replace(/\\s+/g, ' ').trim();\n\nconst amountMatch = fullBody.match(/списана\\s+сумма\\s+([\\d\\s]+(?:[.,]\\d{2})?)/i);\nif (!amountMatch) {\n  return [{ json: { parsed: false, subject, body: fullBody.slice(0, 1500) } }];\n}\nconst amount = parseFloat(amountMatch[1].replace(/\\s/g, '').replace(',', '.'));\n\nconst acctMatch = fullBody.match(/счёта\\s+\\*(\\d{4})/i);\nconst account = acctMatch ? acctMatch[1] : null;\n\nconst dateMatch = fullBody.match(/от\\s+(\\d{2}\\.\\d{2}\\.\\d{2,4})/);\nconst txDate = dateMatch ? dateMatch[1] : null;\nlet isoDate = null;\nif (txDate) {\n  const parts = txDate.split('.');\n  const yyyy = parts[2].length === 2 ? '20' + parts[2] : parts[2];\n  isoDate = yyyy + '-' + parts[1].padStart(2,'0') + '-' + parts[0].padStart(2,'0');\n}\nconst monthKey = isoDate ? isoDate.slice(0,7) : new Date().toISOString().slice(0,7);\n\nlet purpose = '';\nconst purposeIdx = fullBody.indexOf('Назначение платежа:');\nif (purposeIdx > -1) {\n  purpose = fullBody.slice(purposeIdx + 'Назначение платежа:'.length).trim();\n  const cuts = ['Это сообщение', 'С уважением', 'Информация для клиентов', 'Это автоматическ'];\n  for (const c of cuts) {\n    const i = purpose.indexOf(c);\n    if (i > -1) purpose = purpose.slice(0, i).trim();\n  }\n  purpose = purpose.slice(0, 500);\n}\n\nconst mccMatch = fullBody.match(/MCC\\s*(\\d{3,4})/i);\nconst mcc = mccMatch ? mccMatch[1] : null;\n\nfunction categorize(mcc, purpose) {\n  const p = (purpose || '').toUpperCase();\n  if (/(OPENAI|ANTHROPIC|CLAUDE|AWSTORE|RUNWAY|CURSOR|LOVABLE|BOLT|GITHUB|REPLIT|HETZNER|CLOUDFLARE|TIMEWEB|REG\\.RU|BEGET|SELECTEL|YANDEX\\.?CLOUD|DIGITAL\\s*OCEAN|STABILITY|MIDJOURNEY|ELEVENLABS|NGROK|X\\.AI|GROK|VERCEL|SUPABASE|FIREBASE|N8N\\.IO|HEROKU|RAILWAY)/i.test(p)) return 'ИИ, серверы, костыли';\n  if (/(NETFLIX|IVI|OKKO|KINOPOISK|YANDEX\\.?PLUS|SBERPRIME|APPLE\\.COM\\/BILL|GOOGLE\\*|SPOTIFY|VK\\s*COMBO|YOUTUBE\\s*PREMIUM|TELEGRAM\\s*PREMIUM)/i.test(p)) return 'Подписки оплаты';\n  if (/(ЛУКОЙЛ|LUKOIL|GAZPROMNEFT|ROSNEFT|BASHNEFT|TATNEFT|SHELL|АЗС|TEBOIL)/i.test(p)) return 'Топливо';\n  if (mcc === '5541' || mcc === '5542' || mcc === '5172') return 'Топливо';\n  if (/(YANDEX\\s*TAXI|YANDEX\\.?GO|CITYMOBIL|UBER|INDRIVE|MAXIM\\s*TAXI)/i.test(p)) return 'Такси';\n  if (mcc === '4121') return 'Такси';\n  if (/(ДЕТСКИЙ\\s*МИР|DETMIR|KARAPUZ|ДЕТСАД|САДИК|ГИМНАЗИЯ|ANTOSHKA)/i.test(p)) return 'Дети';\n  if (['5641','8211','8351','8299'].includes(mcc)) return 'Дети';\n  if (/(АПТЕКА|APTEKA|RIGLA|РИГЛА|ZDOROVKA|КЛИНИК|МЕДИЦИНА|ИНВИТРО|INVITRO|GEMOTEST|HELIX|FITNESS|FIT\\s*HOUSE|WORLD\\s*CLASS|ALEX\\s*FIT|СПОРТМАСТЕР|SPORTMASTER|DECATHLON|INTERSPORT)/i.test(p)) return 'Здоровье и спорт';\n  if (['8011','8021','8031','8041','8049','8050','8062','8071','8099','5912','7997','5941'].includes(mcc)) return 'Здоровье и спорт';\n  if (/(ЭНЕРГО|ВОДОКАНАЛ|ГАЗПРОМ\\s*МЕЖ|ЧЕЛЯБЭНЕРГО|УРАЛЭНЕРГО|УПРАВЛЯЮЩАЯ\\s*КОМПАН|ЖКХ|КАПРЕМОНТ|РОСТЕЛЕКОМ|БИЛАЙН|BEELINE|МТС|МЕГАФОН|ТЕЛЕ2|TELE2|YOTA|ДОМ\\.РУ|ER-?TELECOM)/i.test(p)) return 'Коммуналка';\n  if (['4900','4812','4814','4899'].includes(mcc)) return 'Коммуналка';\n  if (/(КРЕДИТ|KREDIT|ЗАЕМ|ZAEM|ПОГАШЕНИЕ\\s+КРЕДИТА|РАССРОЧК|ИПОТЕК|IPOTEK|LEASING|ЛИЗИНГ)/i.test(p)) return 'Кредит';\n  if (/(TABAK|TABAC|VAPE|VEYP|ВЕЙП|СИГАРЕТ|TOBACCO|MERCURY\\s*TAB|TAB\\s*SHOP|КУРИЛЬ|DOBROPAR)/i.test(p)) return 'Покурить';\n  if (mcc === '5993') return 'Покурить';\n  if (/(БАНЯ|САУНА|SAUNA|HOTEL|КИНОТЕАТР|АКВАПАРК|БАЗА\\s*ОТДЫХА|TURIZM|PUTESHESTV)/i.test(p)) return 'Отдых';\n  if (['7011','4722','4112','4511','7832','7991','7992','7993','7994','7995','7996','7998','7032','7297','7298'].includes(mcc)) return 'Отдых';\n  if (/(ШТРАФ|ГИБДД|ГОСУСЛУГИ|ГОСПОШЛИНА|ВЗЫСКАН)/i.test(p)) return 'Неожид';\n  if (/(МАГНИТ|MAGNIT|ПЯТЕРОЧКА|PYATEROCHKA|ПЕРЕКРЕСТОК|PEREKRESTOK|ЛЕНТА|LENTA|ДИКСИ|DIXY|АШАН|ASHAN|ОКЕЙ|OKEY|МИРАТОРГ|MIRATORG|ВКУСВИЛЛ|VKUSVILL|АЗБУКА\\s*ВКУСА|АТАК|ВЕРНЫЙ|КАФЕ|CAFE|РЕСТОРАН|RESTORAN|ПИЦЦА|PIZZA|БУРГЕР|BURGER|MCDONALD|KFC|ВКУСНО|СУШИ|SUSHI|РОЛЛ|ROLL|ШАУРМА)/i.test(p)) return 'Еда';\n  if (['5411','5499','5462','5451','5441','5422','5812','5814','5811','5813','5921','5471'].includes(mcc)) return 'Еда';\n  if (/(WILDBERRIES|\\bWB\\b|ОЗОН|\\bOZON\\b|ЯНДЕКС\\s*МАРКЕТ|YANDEX\\s*MARKET|AVITO|АВИТО|ALIEXPRESS|IKEA|ИКЕЯ|HOFF|МВИДЕО|MVIDEO|ELDORADO|DNS|ОБИ|OBI|LEROY|ЛЕРУА)/i.test(p)) return 'Покупки';\n  if (['5311','5651','5661','5712','5732','5933','5970','5999','5946','5621','5631','5691','5942','5945','5943','5944'].includes(mcc)) return 'Покупки';\n  return null;\n}\n\nconst category = categorize(mcc, purpose);\nconst txId = 'tx_' + Date.now() + '_' + Math.random().toString(36).slice(2,5);\nconst tx = { id: txId, type: 'spending', amount, account, txDate, isoDate, monthKey, purpose, mcc, category, subject };\n\nreturn [{ json: Object.assign({ parsed: true }, tx) }];"
      }
    },
    {
      "id": "m10",
      "name": "Send Alfa Probe",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        100
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ (function(){ const cats=['Еда','Коммуналка','Топливо','Такси','Кредит','Отдых','Дети','Здоровье и спорт','Неожид','Покупки','Покурить','Подписки оплаты','ИИ, серверы, костыли']; const j=$json; if(!j.parsed){ return JSON.stringify({ chat_id: $env.TELEGRAM_CHAT_ID, text: '⚠️ ALFA непонятное письмо\\nТема: ' + (j.subject||'(без темы)') + '\\n\\n' + (j.body||'') }); } const head = '💸 ALFA: ' + j.amount + ' ₽ · ' + (j.category || '❓ нужна категория') + '\\nСчёт: *' + (j.account||'?') + ' · ' + (j.txDate||'?') + ' · MCC ' + (j.mcc||'—') + '\\n\\n' + (j.purpose||'(назначение не извлечено)'); if(j.category){ return JSON.stringify({ chat_id: $env.TELEGRAM_CHAT_ID, text: head }); } const btns=cats.map((c,i)=>({text:c, callback_data:'fincat:'+j.id+':'+i})); const rows=[]; for(let i=0;i<btns.length;i+=3) rows.push(btns.slice(i,i+3)); return JSON.stringify({ chat_id: $env.TELEGRAM_CHAT_ID, text: head, reply_markup: { inline_keyboard: rows } }); })() }}",
        "options": {}
      }
    },
    {
      "id": "m11",
      "name": "Save Alfa Tx",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        220
      ],
      "parameters": {
        "method": "POST",
        "url": "https://mycheagent.ru/webhook/pwa-data",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.parsed ? JSON.stringify({ action: 'addAlfaTx', tx: { id: $json.id, type: $json.type, amount: $json.amount, account: $json.account, txDate: $json.txDate, isoDate: $json.isoDate, monthKey: $json.monthKey, purpose: $json.purpose, mcc: $json.mcc, category: $json.category, subject: $json.subject } }) : JSON.stringify({ action: 'noop' }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    }
  ],
  "connections": {
    "Collect Emails": {
      "main": [
        [
          {
            "node": "Buffer Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter Alfa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Alfa": {
      "main": [
        [
          {
            "node": "Save Alfa Tx",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Alfa Probe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3x Daily": {
      "main": [
        [
          {
            "node": "Prepare Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Digest": {
      "main": [
        [
          {
            "node": "Has Emails?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Emails?": {
      "main": [
        [
          {
            "node": "Build GPT Body",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Build GPT Body": {
      "main": [
        [
          {
            "node": "GPT Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT Summary": {
      "main": [
        [
          {
            "node": "Send Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "versionId": "d0000001-0000-0000-0000-000000000013"
}
