workflows/14-grok-x-monitor.json
{
  "name": "14-grok-x-monitor",
  "id": "grok-monitor-001",
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "id": "gx1",
      "name": "2x Daily",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 11,18 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "gx1b",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 440],
      "webhookId": "trigger-grok",
      "parameters": {
        "httpMethod": "POST",
        "path": "trigger-grok",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "gx2",
      "name": "Prep Grok Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 370],
      "parameters": {
        "jsCode": "const HANDLES = [\n  // AI labs / foundation models\n  'OpenAI','AnthropicAI','GoogleDeepMind','MistralAI','xai','Meta','nvidia','CohereAI','Adept',\n  // Founders / researchers\n  'sama','ylecun','DarioAmodei','karpathy','demishassabis','sundarpichai','satyanadella','drjimfan',\n  // Business / enterprise AI\n  'perplexity_ai','cursor_ai','harvey__ai','glean','writer','jasper_ai','notion','zapier','n8n_io','replit','cognition_labs','SierraAI','readdotai','hippocratic_ai',\n  // Dev / coding AI\n  'github','lovable_dev','bolt_new','v0',\n  // Video AI\n  'runwayml','LumaLabsAI','Kling_ai','KLING_AI','midjourney','HeyGen_Official','pika_labs','HailuoAI_MiniMax','GenmoAI','sync_so','captions_AI',\n  // Audio / music AI\n  'suno_ai_','ElevenLabsIO','udiomusic',\n  // Image AI\n  'StabilityAI','blackforestlabs','ideogram_ai','leonardoai_',\n  // News / analysts\n  'rowancheung','AndrewYNg','emollick'\n];\n\nconst handlesList = HANDLES.join(', @');\n// Fixed 24-hour window — dedupe handles duplicates\nconst since = new Date(Date.now() - 24*3600*1000).toISOString().slice(0,16);\n\nconst instruction = `Найди ЗНАЧИМЫЕ AI-новости за последние 24 часа (с ${since}) от X-аккаунтов: @${handlesList}. Интересуют ТОЛЬКО:\\n- новые релизы моделей (видео, аудио, изображения, LLM)\\n- новые фичи и обновления ИИ-инструментов\\n- анонсы продуктов\\n- значимые технические демо\\n\\nИгнорируй:\\n- личные мнения без релиза\\n- мемы, шутки\\n- рекламу событий без продукта\\n- общие размышления\\n\\nДля каждой найденной новости сделай web-поиск чтобы добрать контекст (что это за продукт, ссылки, цена, дата).\\n\\nВерни СТРОГО JSON: {\\n  \"posts\": [\\n    {\\n      \"headline\": \"короткий заголовок до 80 символов\",\\n      \"source\": \"@handle\",\\n      \"source_url\": \"ссылка на X-пост\",\\n      \"summary\": \"2-3 предложения: что произошло, какие возможности\",\\n      \"why_relevant\": \"1 предложение почему это важно (применение в бизнесе/автоматизации или в работе с видео/картинками/аудио, в зависимости от типа новости)\",\\n      \"extra_links\": [\"опциональные доп.ссылки на блог/сайт\"]\\n    }\\n  ]\\n}\\n\\nСтарайся найти 2-4 значимых новости. Если действительно ничего нет — {\"posts\": []}.`;\n\nconst body = JSON.stringify({\n  model: 'grok-4-fast-reasoning',\n  input: instruction,\n  tools: [\n    { type: 'web_search' },\n    { type: 'x_search' }\n  ]\n});\n\nreturn [{ json: { body } }];"
      }
    },
    {
      "id": "gx3",
      "name": "Call Grok",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 370],
      "parameters": {
        "method": "POST",
        "url": "https://api.x.ai/v1/responses",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.XAI_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.body }}",
        "options": { "timeout": 180000 }
      }
    },
    {
      "id": "gx4",
      "name": "Parse Posts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 370],
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst output = data.output || [];\n\nlet jsonText = '';\nfor (const o of output) {\n  if (o.type === 'message' && Array.isArray(o.content)) {\n    for (const c of o.content) {\n      if (c.type === 'output_text' && c.text) {\n        jsonText = c.text;\n        break;\n      }\n    }\n  }\n  if (jsonText) break;\n}\n\nif (!jsonText) return [];\n\njsonText = jsonText.replace(/```json\\s*/g, '').replace(/```\\s*$/g, '').trim();\n\nlet parsed;\ntry { parsed = JSON.parse(jsonText); } catch(e) { return []; }\n\nconst posts = parsed.posts || [];\nif (!posts.length) return [];\n\n// Normalize headline for robust dedupe: lowercase, strip punctuation/extra spaces, first 40 chars\nfunction normalize(s) {\n  return (s || '').toLowerCase()\n    .replace(/[^a-zа-я0-9\\s]/gi, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim()\n    .slice(0, 40);\n}\n\nconst store = $getWorkflowStaticData('global');\nif (!store.sentGrokPosts) store.sentGrokPosts = [];\nconst sentSet = new Set(store.sentGrokPosts);\n\nconst seenInRun = new Set();\nconst fresh = [];\nfor (const p of posts) {\n  if (!p.headline) continue;\n  const key = normalize(p.headline);\n  if (!key || key.length < 5) continue;\n  if (sentSet.has(key) || seenInRun.has(key)) continue;\n  seenInRun.add(key);\n  fresh.push(p);\n  store.sentGrokPosts.push(key);\n}\n\nif (store.sentGrokPosts.length > 300) store.sentGrokPosts = store.sentGrokPosts.slice(-300);\n\nreturn fresh.map(p => ({ json: p }));"
      }
    },
    {
      "id": "gx5",
      "name": "Format via GPT",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1080, 370],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ANTHROPIC_BASE_URL + '/v1/chat/completions' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.ANTHROPIC_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: 'claude-haiku-4-5', max_tokens: 500, messages: [{ role: 'system', content: 'Ты пишешь краткий новостной пост для Telegram-канала Студия ЧЕ (про развитие ИИ: в бизнесе, видео, картинки, фильмы, аудио, автоматизация). НИКАКОГО первого лица — это НЕ от имени автора, это чистая новость. Пиши в третьем лице, фактологично, без «я», «мы». Без воды. Тон — как короткая новостная сводка в СМИ.\\n\\nФормат:\\n- Первая строка: эмодзи + заголовок (до 80 символов)\\n- Пустая строка\\n- 2-3 предложения сути: ЧТО произошло, КТО сделал, КАКИЕ возможности даёт. Цифры, факты, имена продуктов.\\n- Пустая строка\\n- Одна короткая строка «Где применимо:» с 1 предложением сценария использования.\\n- Пустая строка\\n- Ссылка (если есть)\\n\\nДлина 400-600 символов. Обычный текст без Markdown.' }, { role: 'user', content: 'Новость: ' + ($json.headline||'') + '\\nИсточник: ' + ($json.source||'') + '\\nСсылка: ' + ($json.source_url||'') + '\\nСуть: ' + ($json.summary||'') + '\\nЗначимость: ' + ($json.why_relevant||'') }] }) }}",
        "options": { "timeout": 60000 }
      }
    },
    {
      "id": "gx6",
      "name": "Build Final",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 370],
      "parameters": {
        "jsCode": "const res = $input.first().json;\n// Claude API returns content array\nlet post = '';\nif (res.content && Array.isArray(res.content)) {\n  const textBlock = res.content.find(c => c.type === 'text');\n  post = textBlock?.text?.trim() || '';\n} else if (res.choices) {\n  post = res.choices?.[0]?.message?.content?.trim() || '';\n}\npost = post.replace(/@studiyaCHE\\s*$/i, '').trim();\npost += '\\n\\n@studiyaCHE';\nconst id = 'grok_' + Date.now() + '_' + Math.random().toString(36).slice(2,7);\nreturn [{ json: { post, id } }];"
      }
    },
    {
      "id": "gx7",
      "name": "Save Pending",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1520, 370],
      "parameters": {
        "method": "POST",
        "url": "https://mycheagent.ru/webhook/pwa-data",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ action: 'savePending', id: $json.id, text: $json.post }) }}",
        "options": { "response": { "response": { "neverError": true } } }
      }
    },
    {
      "id": "gx8",
      "name": "Send TG",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1740, 370],
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ chat_id: 211279650, text: $('Build Final').first().json.post, reply_markup: { inline_keyboard: [[ { text: '✅ Опубликовать в канал', callback_data: 'channel:' + $('Build Final').first().json.id }, { text: '❌ Пропустить', callback_data: 'channel_skip:' + $('Build Final').first().json.id } ]] } }) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "2x Daily": {
      "main": [[{ "node": "Prep Grok Body", "type": "main", "index": 0 }]]
    },
    "Manual Trigger": {
      "main": [[{ "node": "Prep Grok Body", "type": "main", "index": 0 }]]
    },
    "Prep Grok Body": {
      "main": [[{ "node": "Call Grok", "type": "main", "index": 0 }]]
    },
    "Call Grok": {
      "main": [[{ "node": "Parse Posts", "type": "main", "index": 0 }]]
    },
    "Parse Posts": {
      "main": [[{ "node": "Format via GPT", "type": "main", "index": 0 }]]
    },
    "Format via GPT": {
      "main": [[{ "node": "Build Final", "type": "main", "index": 0 }]]
    },
    "Build Final": {
      "main": [[{ "node": "Save Pending", "type": "main", "index": 0 }]]
    },
    "Save Pending": {
      "main": [[{ "node": "Send TG", "type": "main", "index": 0 }]]
    }
  },
  "versionId": "d0000001-0000-0000-0000-000000000014"
}
