workflows/15-chelyabinsk-news.json
{
  "name": "15-chelyabinsk-news",
  "id": "chel-news-001",
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "id": "ch1",
      "name": "Every Morning",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "ch1b",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 440],
      "webhookId": "trigger-chel",
      "parameters": {
        "httpMethod": "POST",
        "path": "trigger-chel",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "ch2",
      "name": "Fetch Channel Style",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [420, 370],
      "parameters": {
        "method": "GET",
        "url": "https://t.me/s/che_v_che",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "User-Agent", "value": "Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html)" }
          ]
        },
        "options": { "response": { "response": { "neverError": true } }, "timeout": 30000 }
      }
    },
    {
      "id": "ch3",
      "name": "Extract Style",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 370],
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst html = typeof raw === 'string' ? raw : (raw.data || raw.body || JSON.stringify(raw));\n\n// Extract posts from Telegram public preview HTML\n// Each post is in <div class=\"tgme_widget_message_text js-message_text\" ... >TEXT</div>\nconst postRegex = /<div[^>]*class=\"[^\"]*tgme_widget_message_text[^\"]*\"[^>]*>([\\s\\S]*?)<\\/div>/g;\nconst posts = [];\nlet m;\nwhile ((m = postRegex.exec(html)) !== null && posts.length < 15) {\n  let txt = m[1]\n    .replace(/<br\\s*\\/?>/gi, '\\n')\n    .replace(/<a[^>]*>([\\s\\S]*?)<\\/a>/g, '$1')\n    .replace(/<[^>]+>/g, '')\n    .replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&quot;/g, '\\\"').replace(/&#39;/g, \"'\").replace(/&nbsp;/g, ' ')\n    .trim();\n  if (txt.length > 40) posts.push(txt.slice(0, 600));\n}\n\n// Fallback if no posts found\nlet styleRef = '';\nif (posts.length) {\n  styleRef = posts.slice(0, 10).map((p,i) => '--- Пример ' + (i+1) + ' ---\\n' + p).join('\\n\\n');\n} else {\n  styleRef = '(Канал пока без постов. Пиши тёплым городским тоном, как будто рассказываешь соседу хорошую новость о родном городе. Без пафоса, без казённого языка. Короткие предложения, конкретика, уважение к читателю.)';\n}\n\nreturn [{ json: { styleRef, sampleCount: posts.length } }];"
      }
    },
    {
      "id": "ch4",
      "name": "Prep Research Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 370],
      "parameters": {
        "jsCode": "const styleRef = $input.first().json.styleRef;\nconst today = new Date().toLocaleDateString('ru-RU', {day:'numeric',month:'long',year:'numeric'});\nconst since = new Date(Date.now() - 24*3600*1000).toLocaleString('ru-RU');\n\nconst SOURCES_HINT = [\n  '74.ru','chelyabinsk.ru','1obl.ru','cheltv.ru','uralpress.ru','vecherka.su','mediazavod.ru','obzor174.ru','up74.ru','argumenti74.ru','kursdela.biz','chelindustry.ru','first.74.ru','livecheb.ru','chel-portal.ru','pg74.ru',\n  'znak.com','ura.news','nakanune.ru','chelyabinsk.rbc.ru','rbc.ru/urals','chel.aif.ru','chel.kp.ru','mkchel.ru','m.mkchel.ru','tass.ru/ural','ria.ru','interfax-russia.ru/ural','kommersant.ru','vedomosti.ru','gazeta.ru','pravmin.gov74.ru','gov74.ru','chgorduma.ru','cheladmin.ru','minkult.gov74.ru','minobr74.ru','minsport.gov74.ru','minpromtorg.gov74.ru','minstroy.gov74.ru','minsoc74.ru','minsel.gov74.ru','minzdrav.gov74.ru','susu.ru','csu.ru','chelgma.ru','uusu.ru','cspa.ru','chgik.ru','traktor.ru','metallurg-mg.ru','fc-chelyabinsk.ru','bc-chelyabinsk.ru','hc-traktor.ru','mmk.ru','chtpz.ru','chtz-uraltrac.ru','chmk.ru','chmz.ru','teatrpushkin-chel.ru','chelopera.ru','teatrcheludi.ru','chelmuseum.ru','chelfilarm.ru','bibl.chel.ru','chelaero.ru','visitchelyabinsk.ru','park-zuratkul.ru','taganay.org','ilmeny.ac.ru','molodezh74.ru','volunteer.chel.ru','vk.com/chelyabinsk','vk.com/che74_public','t.me/s/uralweek','t.me/s/znak_cheb','t.me/s/chelyabinsk_today','t.me/s/che_main','t.me/s/chelyabinsk_news','t.me/s/cheltv_online','t.me/s/pg74ru','t.me/s/pravitelstvo_74','t.me/s/Mahonin74','chelovek-online.ru','insider74.ru','chelyabinsk-news.net','74online.ru','news.rambler.ru/chelyabinsk','lenta.ru/tags/geo/chelyabinsk','russian.rt.com/chelyabinsk','smi2.ru/chelyabinsk','rosbalt.ru/ural','e1.ru/chelyabinsk','regnum.ru/rubric/chelyabinsk','newdaynews.ru/urfo/chelyabinsk','kchetverg.ru','gorodskieizvestia.ru','vkchel.ru','360tv.ru/chelyabinsk','5-tv.ru/news/tag/chelyabinsk','zvezdacheltv.ru','otr-online.ru','mir24.tv/tag/chelyabinsk'\n];\n\nconst instruction = 'Твоя задача — собрать свежие позитивные новости про Челябинск и Челябинскую область за последние 24 часа (с ' + since + '). Сегодня ' + today + '.\\n\\nГЛАВНОЕ — ПРАВДИВОСТЬ. Каждая новость должна быть ДОСТОВЕРНОЙ, подтверждённой хотя бы одним официальным или известным источником. Лучше меньше новостей, но все проверенные. НЕ выдумывай детали, если их нет в источнике.\\n\\nСделай столько веб-поисков, сколько нужно чтобы найти и проверить реальные новости. Можешь 3-5 запросов, можешь 10-15 — как считаешь нужным. Но каждый факт в итоге должен быть подтверждён ссылкой на реальный URL.\\n\\nПримеры полезных запросов:\\n- \"Челябинск новости сегодня\"\\n- \"Челябинская область открытие\"\\n- \"Челябинск достижения site:74.ru\"\\n- \"ЮУрГУ новости\"\\n- \"ХК Трактор победа\"\\n- \"Челябинск благоустройство\"\\n- \"Челябинск культура премьера\"\\n- \"Челябинск стартап\"\\n- \"Министерство культуры Челябинск\"\\n\\nЗНАЧИМЫЕ САЙТЫ (можно опираться на них): ' + SOURCES_HINT.join(', ') + '\\n\\nЧТО СОБИРАЕМ (только ХОРОШЕЕ, проверенное):\\n- Открытия: парки, школы, сады, больницы, производства, магазины, дороги, объекты\\n- Спортивные победы команд и спортсменов\\n- Культура: премьеры, концерты, выставки, фестивали\\n- Наука и образование: университеты, гранты, разработки, олимпиады, победы учеников\\n- Благоустройство: ремонт дорог/дворов, скверы, площадки\\n- Бизнес: новые производства, инвестиции, экспорт, стартапы\\n- Экология: озеленение, очистка рек, заповедники\\n- Социальные инициативы: волонтёры, помощь, благотворительность\\n- Инфраструктура: аэропорт, транспорт, мосты\\n- Туризм: Таганай, Зюраткуль, Ильмены\\n- Люди: истории добрых дел, яркие персоны\\n\\nИСКЛЮЧАЙ:\\n- Криминал, аварии, пожары, ЧП, смерти, травмы\\n- Коррупцию, аресты, скандалы\\n- Жалобы, протесты, конфликты\\n- Политические споры, мобилизацию, санкции\\n- Рост цен, экономические проблемы\\n- Погодные коллапсы\\n\\nДля каждой найденной новости убедись что факты корректны: перепроверь в ещё одном источнике если есть сомнения.\\n\\nВерни СТРОГО JSON (без markdown fences):\\n{\\n  \"searched_count\": число сделанных поисков,\\n  \"posts\": [\\n    {\\n      \"category\": \"открытие|спорт|культура|наука|благоустройство|бизнес|экология|образование|соц.инициатива|туризм|люди\",\\n      \"headline\": \"короткий заголовок до 80 символов\",\\n      \"summary\": \"2-3 предложения фактов: ЧТО, КОГДА, ГДЕ, КТО. Цифры и имена.\",\\n      \"why_good\": \"1 предложение — что это даёт городу и жителям\",\\n      \"source_name\": \"название издания\",\\n      \"source_url\": \"прямая ссылка на статью-первоисточник (НЕ главная страница сайта)\",\\n      \"verified\": true|false — нашёл ли ту же новость в 2+ источниках\\n    }\\n  ]\\n}\\n\\nСколько реально нашлось — столько и возвращай. Может быть 1, 3, 5, 8. Если реально ничего стоящего за сутки — {\"posts\": []}. Лучше 0 правдивых чем 5 сомнительных.';\n\nconst body = JSON.stringify({\n  model: 'claude-opus-4-6',\n  max_tokens: 8000,\n  tools: [\n    { type: 'web_search_20250305', name: 'web_search', max_uses: 25 }\n  ],\n  messages: [\n    { role: 'user', content: instruction }\n  ]\n});\n\nreturn [{ json: { body, styleRef: styleRef } }];"
      }
    },
    {
      "id": "ch5",
      "name": "Call Claude Research",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1080, 370],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_DIRECT_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.body }}",
        "options": { "timeout": 300000 }
      }
    },
    {
      "id": "ch6",
      "name": "Parse Posts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 370],
      "parameters": {
        "jsCode": "const res = $input.first().json;\nconst content = res.content || [];\n\nlet jsonText = '';\nfor (const c of content.slice().reverse()) {\n  if (c.type === 'text' && c.text) {\n    jsonText = c.text;\n    break;\n  }\n}\n\nif (!jsonText) return [{ json: { skip: true, reason: 'no text from Claude' } }];\n\njsonText = jsonText.replace(/```json\\s*/g, '').replace(/```\\s*$/g, '').trim();\nconst jm = jsonText.match(/\\{[\\s\\S]*\\}/);\nif (jm) jsonText = jm[0];\n\nlet parsed;\ntry { parsed = JSON.parse(jsonText); } catch(e) { return [{ json: { skip: true, reason: 'parse error' } }]; }\n\nconst posts = parsed.posts || [];\nconst searchedCount = parsed.searched_count || 0;\nif (!posts.length) return [{ json: { skip: true, reason: 'empty posts' } }];\n\n// Dedup full digest by day (don't make 2 digests per day)\nconst store = $getWorkflowStaticData('global');\nconst today = new Date().toISOString().slice(0, 10);\nif (store.lastChelDigest === today && !parsed._force) {\n  // Allow re-trigger for same day but different content via manual trigger — use dedupe by headline set hash\n}\nstore.lastChelDigest = today;\n\nconst styleRef = $('Prep Research Body').first().json.styleRef || '';\n\nreturn [{ json: { posts, searchedCount, styleRef, skip: false, today } }];"
      }
    },
    {
      "id": "ch7",
      "name": "Format in Author Tone",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1520, 370],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_DIRECT_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ (function() { const posts = $json.posts || []; const styleRef = $json.styleRef || ''; const today = new Date().toLocaleDateString('ru-RU', {day:'numeric',month:'long'}); const newsList = posts.map((p,i) => (i+1)+'. [' + (p.category||'') + '] ' + (p.headline||'') + '\\n   Факты: ' + (p.summary||'') + '\\n   Чем хорошо: ' + (p.why_good||'')).join('\\n\\n'); const sys = 'Ты пишешь ежедневный дайджест позитивных новостей Челябинска для Telegram-канала @che_v_che.\\n\\nГЛАВНОЕ — точно воспроизвести АВТОРСКИЙ ТОН канала. Внимательно изучи примеры постов автора ниже и пиши ТАК ЖЕ: лексикон, ритм, длина, пунктуация, типичные обороты, эмодзи автора. Не сбивайся на стандартный «новостной» стиль СМИ — это не стиль автора.\\n\\nФормат дайджеста:\\n- Короткое вступление в стиле автора (1-2 предложения, например «Хорошее за сутки» или как пишет автор)\\n- Перечисление новостей подряд. Каждая — блок из 2-4 предложений с эмодзи в начале по категории или как у автора. Сохраняй ту же дикцию что в примерах.\\n- В конце — один-два предложения-концовка в стиле автора (если он так обычно пишет).\\n\\nБез Markdown. Без ссылок на источники (автор их не ставит). Без упоминаний тебя, без «я ассистент». Без @che_v_che в конце — система сама добавит.\\n\\nНе выдумывай факты которых нет в данных. Только то что дано.\\n\\n=== ПРИМЕРЫ ПОСТОВ АВТОРА ===\\n' + styleRef + '\\n=== КОНЕЦ ПРИМЕРОВ ==='; return JSON.stringify({ model: 'claude-opus-4-6', max_tokens: 2500, system: sys, messages: [{ role: 'user', content: 'Собери дайджест позитивных новостей за ' + today + '. Напиши в авторском тоне канала.\\n\\n=== НОВОСТИ ДЛЯ ДАЙДЖЕСТА ===\\n\\n' + newsList }] }); })() }}",
        "options": { "timeout": 60000 }
      }
    },
    {
      "id": "ch8",
      "name": "Build Final",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1740, 370],
      "parameters": {
        "jsCode": "const res = $input.first().json;\nlet post = '';\nif (res.content && Array.isArray(res.content)) {\n  const textBlock = res.content.find(c => c.type === 'text');\n  post = textBlock?.text?.trim() || '';\n}\npost = post.replace(/@che_v_che\\s*$/i, '').trim();\npost += '\\n\\n@che_v_che';\nconst id = 'chel_' + Date.now() + '_' + Math.random().toString(36).slice(2,7);\nreturn [{ json: { post, id } }];"
      }
    },
    {
      "id": "ch9",
      "name": "Save Pending",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1960, 370],
      "parameters": {
        "method": "POST",
        "url": "https://mycheagent.ru/webhook/pwa-data",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ action: 'savePending', id: $json.id, text: $json.post }) }}",
        "options": { "response": { "response": { "neverError": true } } }
      }
    },
    {
      "id": "ch10",
      "name": "Send to Denis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2180, 370],
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ chat_id: 211279650, text: $('Build Final').first().json.post, reply_markup: { inline_keyboard: [[ { text: '✅ Опубликовать в @che_v_che', callback_data: 'che:' + $('Build Final').first().json.id }, { text: '❌ Пропустить', callback_data: 'che_skip:' + $('Build Final').first().json.id } ]] } }) }}",
        "options": { "response": { "response": { "neverError": true } } }
      }
    }
  ],
  "connections": {
    "Every Morning": {
      "main": [[{ "node": "Fetch Channel Style", "type": "main", "index": 0 }]]
    },
    "Manual Trigger": {
      "main": [[{ "node": "Fetch Channel Style", "type": "main", "index": 0 }]]
    },
    "Fetch Channel Style": {
      "main": [[{ "node": "Extract Style", "type": "main", "index": 0 }]]
    },
    "Extract Style": {
      "main": [[{ "node": "Prep Research Body", "type": "main", "index": 0 }]]
    },
    "Prep Research Body": {
      "main": [[{ "node": "Call Claude Research", "type": "main", "index": 0 }]]
    },
    "Call Claude Research": {
      "main": [[{ "node": "Parse Posts", "type": "main", "index": 0 }]]
    },
    "Parse Posts": {
      "main": [[{ "node": "Format in Author Tone", "type": "main", "index": 0 }]]
    },
    "Format in Author Tone": {
      "main": [[{ "node": "Build Final", "type": "main", "index": 0 }]]
    },
    "Build Final": {
      "main": [[{ "node": "Save Pending", "type": "main", "index": 0 }]]
    },
    "Save Pending": {
      "main": [[{ "node": "Send to Denis", "type": "main", "index": 0 }]]
    }
  },
  "versionId": "d0000002-0000-0000-0000-000000000015"
}
