workflows/16-send-to-zeus.json
{
  "name": "16-send-to-zeus",
  "id": "send-to-zeus-001",
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "id": "sz1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "send-to-zeus-hook",
      "parameters": {
        "httpMethod": "POST",
        "path": "send-to-zeus",
        "responseMode": "lastNode",
        "options": {}
      }
    },
    {
      "id": "sz2",
      "name": "Parse Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 300],
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst body = (raw.body && typeof raw.body === 'object') ? raw.body : raw;\nconst text = body.text || body.message || '';\nconst chatId = body.chat_id || body.chatId || 211279650;\nconst parseMode = body.parse_mode || null;\nconst disablePreview = body.disable_web_page_preview !== false;\n\nif (!text || text.length < 2) {\n  return [{ json: { ok: false, error: 'no text', received: JSON.stringify(body).slice(0,200) } }];\n}\n\nreturn [{ json: { chatId, text, parseMode, disablePreview, textLength: text.length } }];"
      }
    },
    {
      "id": "sz3",
      "name": "Send to TG",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify(Object.assign({ chat_id: $json.chatId, text: $json.text, disable_web_page_preview: $json.disablePreview }, $json.parseMode ? { parse_mode: $json.parseMode } : {})) }}",
        "options": { "response": { "response": { "neverError": true } } }
      }
    },
    {
      "id": "sz4",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 300],
      "parameters": {
        "jsCode": "const tg = $input.first().json;\nif (tg.ok) {\n  return [{ json: { ok: true, message_id: tg.result?.message_id, sent_at: new Date().toISOString() } }];\n}\nreturn [{ json: { ok: false, error: tg.description || 'unknown', tg_response: tg } }];"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Parse Input", "type": "main", "index": 0 }]]
    },
    "Parse Input": {
      "main": [[{ "node": "Send to TG", "type": "main", "index": 0 }]]
    },
    "Send to TG": {
      "main": [[{ "node": "Build Response", "type": "main", "index": 0 }]]
    }
  },
  "versionId": "d0000001-0000-0000-0000-000000000016"
}
