workflows-disabled/20-yadirect-daily.json
{
  "name": "20-yadirect-daily",
  "id": "yadirect-daily-001",
  "active": false,
  "settings": { "executionOrder": "v1", "timezone": "Asia/Yekaterinburg" },
  "nodes": [
    {
      "id": "yd1",
      "name": "Daily 9:00 EKB",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300],
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 9 * * *" }]
        }
      }
    },
    {
      "id": "yd1b",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 440],
      "webhookId": "yadirect-daily-trigger",
      "parameters": {
        "httpMethod": "POST",
        "path": "yadirect-daily",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "yd2",
      "name": "Build Report Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 370],
      "parameters": {
        "jsCode": "// Запрашивает у Direct API CAMPAIGN_PERFORMANCE_REPORT за YESTERDAY.\n// Через прокси-воркфлоу 18 (path /webhook/yadirect) с action='reports.get'.\n// Доку: https://yandex.ru/dev/direct/doc/reports/\n\nconst yest = new Date(Date.now() - 24*3600*1000).toISOString().slice(0, 10);\nconst reportName = 'daily_' + yest + '_' + Date.now();\n\nconst reportBody = {\n  params: {\n    SelectionCriteria: {},\n    FieldNames: [\n      'Date',\n      'CampaignId',\n      'CampaignName',\n      'Impressions',\n      'Clicks',\n      'Ctr',\n      'Cost',\n      'AvgCpc',\n      'Conversions',\n      'CostPerConversion',\n      'Bounces',\n      'BounceRate'\n    ],\n    ReportName: reportName,\n    ReportType: 'CAMPAIGN_PERFORMANCE_REPORT',\n    DateRangeType: 'YESTERDAY',\n    Format: 'TSV',\n    IncludeVAT: 'YES',\n    IncludeDiscount: 'NO'\n  }\n};\n\nreturn [{ json: { reportBody, yest, reportName } }];"
      }
    },
    {
      "id": "yd3",
      "name": "Call Direct Proxy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 370],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 60000,
      "parameters": {
        "method": "POST",
        "url": "https://mycheagent.ru/webhook/yadirect",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ action: 'reports.get', body: $json.reportBody }) }}",
        "options": {
          "timeout": 120000,
          "response": { "response": { "neverError": true } }
        }
      }
    },
    {
      "id": "yd4",
      "name": "Parse TSV",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 370],
      "parameters": {
        "jsCode": "// Direct API /reports возвращает TSV-таблицу с заголовком в первой строке.\n// Если отчёт ещё в очереди — TSV пустой; в нашем proxy ретрай уже учтён.\n\nconst proxy = $input.first().json;\nif (!proxy.ok) {\n  return [{ json: { _abort: true, reason: 'proxy_error', error: proxy.error || proxy.detail || 'unknown' } }];\n}\n\nconst raw = proxy.result || proxy.raw || '';\nconst text = typeof raw === 'string' ? raw : (raw.body || JSON.stringify(raw));\n\nif (!text || text.length < 50) {\n  return [{ json: { _abort: true, reason: 'empty_report' } }];\n}\n\nconst lines = text.split(/\\r?\\n/).filter(l => l.trim() && !l.startsWith('Total')); // отрезаем итоговую строку, если есть\nif (lines.length < 2) {\n  return [{ json: { _abort: true, reason: 'no_data', sample: text.slice(0, 200) } }];\n}\n\nconst header = lines[0].split('\\t');\nconst rows = lines.slice(1).map(l => {\n  const cells = l.split('\\t');\n  const o = {};\n  header.forEach((h, i) => { o[h] = cells[i]; });\n  return o;\n});\n\nfunction num(v) {\n  if (v == null || v === '--') return 0;\n  const n = parseFloat(String(v).replace(',', '.'));\n  return isNaN(n) ? 0 : n;\n}\n\n// Группируем по кампании (если несколько строк за день — суммируем)\nconst byCampaign = {};\nfor (const r of rows) {\n  const id = r.CampaignId || 'unknown';\n  if (!byCampaign[id]) {\n    byCampaign[id] = {\n      id,\n      name: r.CampaignName || '?',\n      impressions: 0, clicks: 0, cost: 0, conversions: 0, bounces: 0, costPerConversion: null\n    };\n  }\n  const c = byCampaign[id];\n  c.impressions += num(r.Impressions);\n  c.clicks      += num(r.Clicks);\n  c.cost        += num(r.Cost) / 1000000; // mil → ₽\n  c.conversions += num(r.Conversions);\n  c.bounces     += num(r.Bounces);\n}\n\nconst totals = { impressions: 0, clicks: 0, cost: 0, conversions: 0 };\nfor (const c of Object.values(byCampaign)) {\n  c.ctr = c.impressions ? (c.clicks / c.impressions * 100) : 0;\n  c.cpc = c.clicks ? (c.cost / c.clicks) : 0;\n  c.cpa = c.conversions ? (c.cost / c.conversions) : null;\n  c.bounceRate = c.clicks ? (c.bounces / c.clicks * 100) : 0;\n  totals.impressions += c.impressions;\n  totals.clicks      += c.clicks;\n  totals.cost        += c.cost;\n  totals.conversions += c.conversions;\n}\ntotals.ctr = totals.impressions ? (totals.clicks / totals.impressions * 100) : 0;\ntotals.cpc = totals.clicks ? (totals.cost / totals.clicks) : 0;\ntotals.cpa = totals.conversions ? (totals.cost / totals.conversions) : null;\n\nconst yest = $('Build Report Request').first().json.yest;\n\nreturn [{ json: { _abort: false, yest, campaigns: Object.values(byCampaign), totals } }];"
      }
    },
    {
      "id": "yd4b",
      "name": "Has Data?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1080, 370],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "cab",
              "leftValue": "={{ $json._abort }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "false", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "yd4c",
      "name": "Send No-Data Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 500],
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ chat_id: $env.TELEGRAM_CHAT_ID, text: '📊 *Директ-отчёт за вчера*\\n\\nДанных нет: ' + ($json.reason || 'unknown') + (($json.error)?'\\n' + $json.error:''), parse_mode: 'Markdown' }) }}",
        "options": { "response": { "response": { "neverError": true } } }
      }
    },
    {
      "id": "yd5",
      "name": "Build LLM Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 240],
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst t = data.totals;\n\nconst campaignsList = data.campaigns.map(c =>\n  '• ' + c.name + ' (id ' + c.id + ')\\n  показы: ' + c.impressions + ', клики: ' + c.clicks + ', CTR: ' + c.ctr.toFixed(2) + '%, CPC: ' + c.cpc.toFixed(0) + '₽, расход: ' + c.cost.toFixed(0) + '₽, конверсии: ' + c.conversions + (c.cpa ? ', CPA: ' + c.cpa.toFixed(0) + '₽' : '')\n).join('\\n\\n');\n\nconst sys = 'Ты директолог-аналитик. Тебе дают сводку Яндекс.Директа за вчера. Твоя задача: 1) написать короткое (3-5 строк) резюме дня в свободной форме (что произошло, что хорошо/плохо); 2) дать 1-3 КОНКРЕТНЫЕ рекомендации в JSON в конце ответа.\\n\\nОриентиры:\\n— здоровый CTR Поиска ≥ 0.7%, РСЯ ≥ 0.15%\\n— здоровый CPC для образования по РФ: 30-80₽\\n— если кампания съела >70% бюджета без конверсий 3+ дня — пора менять\\n— если CTR < 0.2% при 100+ показах — креатив или таргет плохие\\n\\nФормат ответа СТРОГО:\\n\\nРЕЗЮМЕ:\\n<3-5 строк по-русски, по-человечески, без канцелярита>\\n\\nРЕКОМЕНДАЦИИ_JSON:\\n[{\"type\":\"pause_campaign|raise_budget|lower_cpc|add_negative_keyword|replace_creative\",\"campaign_id\":\"...\",\"value\":\"...\",\"reason\":\"короткое объяснение\"}]\\n\\nЕсли менять ничего не надо — массив пустой [] на отдельной строке. НЕ оборачивай JSON в markdown-фенсы.';\n\nconst userContent = 'Дата: ' + data.yest + '\\n\\nИтого по аккаунту:\\nпоказы ' + t.impressions + ', клики ' + t.clicks + ', CTR ' + t.ctr.toFixed(2) + '%, CPC ' + t.cpc.toFixed(0) + '₽, расход ' + t.cost.toFixed(0) + '₽, конверсии ' + t.conversions + (t.cpa ? ', CPA ' + t.cpa.toFixed(0) + '₽' : '') + '\\n\\nПо кампаниям:\\n\\n' + campaignsList;\n\nconst body = JSON.stringify({\n  model: 'claude-haiku-4.5',\n  max_tokens: 1000,\n  messages: [{ role: 'user', content: sys + '\\n\\n=== ДАННЫЕ ===\\n\\n' + userContent }]\n});\n\nreturn [{ json: { body, raw: data } }];"
      }
    },
    {
      "id": "yd6",
      "name": "Call LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1520, 240],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1500,
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ANTHROPIC_BASE_URL + '/v1/chat/completions' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.ANTHROPIC_API_KEY }}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.body }}",
        "options": {
          "timeout": 60000,
          "response": { "response": { "neverError": true } }
        }
      }
    },
    {
      "id": "yd7",
      "name": "Format TG Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1740, 240],
      "parameters": {
        "jsCode": "const llmRes = $input.first().json;\nconst raw = $('Build LLM Body').first().json.raw;\nconst t = raw.totals;\n\nlet aiText = '';\nif (llmRes?.choices?.[0]?.message?.content) {\n  aiText = llmRes.choices[0].message.content.trim();\n} else {\n  aiText = '⚠️ Анализатор недоступен, показываю только сухие цифры.';\n}\n\n// Извлекаем JSON-массив рекомендаций (последний [...] в ответе)\nlet recommendations = [];\nconst m = aiText.match(/\\[[\\s\\S]*\\]/);\nif (m) {\n  try { recommendations = JSON.parse(m[0]); } catch(e) {}\n}\n// убираем JSON-блок и метку из текста для TG\nconst textPart = aiText.replace(/РЕКОМЕНДАЦИИ_JSON:[\\s\\S]*$/i, '').replace(/\\[[\\s\\S]*\\]/g, '').trim();\n\nconst hdr = `📊 *Директ-отчёт за ${raw.yest}*\\n\\n`;\nconst totalsLine = `*Итого:* показы ${t.impressions} · клики ${t.clicks} · CTR ${t.ctr.toFixed(2)}% · CPC ${t.cpc.toFixed(0)}₽ · расход ${t.cost.toFixed(0)}₽ · конверсий ${t.conversions}${t.cpa?' · CPA '+t.cpa.toFixed(0)+'₽':''}\\n\\n`;\n\nconst tgText = (hdr + totalsLine + textPart).slice(0, 3900); // лимит TG sendMessage\n\n// Кнопки только если есть рекомендации\nlet keyboard = null;\nif (recommendations.length > 0) {\n  keyboard = {\n    inline_keyboard: [[\n      { text: '✅ Применить (' + recommendations.length + ')', callback_data: 'yd_apply:' + raw.yest },\n      { text: '📊 Детали',                                  callback_data: 'yd_detail:' + raw.yest },\n      { text: '🚫 Игнорировать',                            callback_data: 'yd_skip:' + raw.yest }\n    ]]\n  };\n}\n\n// Сохраняем рекомендации в static data — orchestrator подберёт по callback\nconst store = $getWorkflowStaticData('global');\nif (!store.pendingRecs) store.pendingRecs = {};\nstore.pendingRecs[raw.yest] = { recommendations, raw, generatedAt: Date.now() };\n// GC старых (старше 7 дней)\nconst cutoff = Date.now() - 7*24*3600*1000;\nfor (const k of Object.keys(store.pendingRecs)) {\n  if (store.pendingRecs[k].generatedAt < cutoff) delete store.pendingRecs[k];\n}\n\nreturn [{ json: { tgText, keyboard, recCount: recommendations.length } }];"
      }
    },
    {
      "id": "yd8",
      "name": "Send to TG",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1960, 240],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1500,
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify(Object.assign({ chat_id: $env.TELEGRAM_CHAT_ID, text: $json.tgText, parse_mode: 'Markdown' }, $json.keyboard ? { reply_markup: $json.keyboard } : {})) }}"
      }
    }
  ],
  "connections": {
    "Daily 9:00 EKB":       { "main": [[{ "node": "Build Report Request", "type": "main", "index": 0 }]] },
    "Manual Trigger":       { "main": [[{ "node": "Build Report Request", "type": "main", "index": 0 }]] },
    "Build Report Request": { "main": [[{ "node": "Call Direct Proxy",   "type": "main", "index": 0 }]] },
    "Call Direct Proxy":    { "main": [[{ "node": "Parse TSV",           "type": "main", "index": 0 }]] },
    "Parse TSV":            { "main": [[{ "node": "Has Data?",           "type": "main", "index": 0 }]] },
    "Has Data?": {
      "main": [
        [{ "node": "Build LLM Body",      "type": "main", "index": 0 }],
        [{ "node": "Send No-Data Alert",  "type": "main", "index": 0 }]
      ]
    },
    "Build LLM Body":   { "main": [[{ "node": "Call LLM",          "type": "main", "index": 0 }]] },
    "Call LLM":         { "main": [[{ "node": "Format TG Message", "type": "main", "index": 0 }]] },
    "Format TG Message":{ "main": [[{ "node": "Send to TG",        "type": "main", "index": 0 }]] }
  },
  "versionId": "d0000001-0000-0000-0000-000000000020"
}
